<div class="popup-wrapper">
    <div id="popup-container">
        <h2> הסרת מוצר </h2>
        <form action="/royal/delproduct" method="POST">
            <div class="form-group">
            <p>
            האם ברצונך להסיר את המוצר &nbsp; <input type="text" id="del_product" name="del_product" value="" readonly> &nbsp; ? <br/>
            </p>
            </div><br/>
        <div class="modal-footer">
          <input class="formcancel" type="reset" value="ביטול" herf="javascript:void(0)" onclick="openDeleteProductForm()"> <input class="formsubmit" type="submit" value="אישור">
        </div>
      </form>
    </div>
</div>