<!DOCTYPE html>
<html dir="rtl" lang="ar">
<head>

	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="author" content="אלף-אלף" />
	<meta name="description" content="קידום ובניית אתרים: לקוחות מחפשים על עסק אמין, בניית אתר באנטרנט נותן אמינות, תקשורת טובה ופרסומת קבועה למשך החיים.">
	<meta name="keywords" content="בניית,אתר,עסק,קידום,מכירות,חנות,קטן,וירטואלי,תדמית" />

	<!-- Stylesheets
	============================================= -->
	<link href="http://fonts.googleapis.com/css?family=Roboto:300,400,400i,700|Istok+Web:400,700" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" href="/css/bootstrap.css" type="text/css" />
	<link rel="stylesheet" href="/css/bootstrap-rtl.css" type="text/css" />
	<link rel="stylesheet" href="/style.css" type="text/css" />
	<link rel="stylesheet" href="/style-rtl.css" type="text/css" />	
	<link rel="stylesheet" href="/css/dark.css" type="text/css" />
	<link rel="stylesheet" href="/css/dark-rtl.css" type="text/css" />
	<link rel="stylesheet" href="/css/font-icons.css" type="text/css" />
	<link rel="stylesheet" href="/css/font-icons-rtl.css" type="text/css" />
	<link rel="stylesheet" href="/css/animate.css" type="text/css" />
	<link rel="stylesheet" href="/css/magnific-popup.css" type="text/css" />

	<link rel="stylesheet" href="/css/et-line.css" type="text/css" />

	<link rel="stylesheet" href="/css/components/ion.rangeslider.css" type="text/css" />

	<link rel="stylesheet" href="/css/responsive.css" type="text/css" />
	<link rel="stylesheet" href="/css/responsive-rtl.css" type="text/css" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<link rel="stylesheet" href="/css/colors.php?color=e83c3c" type="text/css" />

	<!-- Demo Specific Stylesheet -->
	<link rel="stylesheet" href="/css/fonts.css" type="text/css" />
	<link rel="stylesheet" href="/home.css" type="text/css" />
	<!-- / -->

	<!-- Document Title
	============================================= -->
	<title>אלף-אלף קידום בניית אתרים באינטרנט</title>

</head>

<body class="stretched rtl">

	<!-- Document Wrapper
	============================================= -->
	<div id="wrapper" class="clearfix">

		<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-sm">
				<div class="modal-body text-center">
					<div class="modal-content">
						<div class="modal-header">
							<h4 class="modal-title" id="myModalLabel">אודות</h4>
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
						</div>
						<div class="modal-body">
							<p class="nobottommargin">054-7077-590</p>
							<p class="nobottommargin">abbasa4696@gmail.com</p>
							<a href="" class="nobottommargin">www.facebook.com</a>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Header
		============================================= -->
		<header id="header" class="sticky-style-2">

			<div class="container clearfix">

				<!-- Logo
				============================================= -->
				<div id="logo" class="divcenter">
					<a href="/" class="standard-logo"><img class="divcenter" src="images/logo@2x.png" style="padding: 10px 0;" alt="אלף"></a>
					<a href="/" class="retina-logo"><img class="divcenter" src="images/logo@2x.png" alt="אלף"></a>
				</div><!-- #logo end -->

			</div>

			<div id="header-wrap">

				<!-- Primary Navigation
				============================================= -->
				<nav id="primary-menu" class="style-2 center">

					<div class="container clearfix">

						<div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

						<ul>
							<li class="current"><a href="#" data-href="#header"><div>ראשי</div></a></li>
							<li><a href="#section-service" class="smooth-goto"><div>שירות</div></a></li>
							<li><a href="#section-portfolio" class="smooth-goto"><div>עבודה</div></a></li>
							<li><a href="#section-testimonials" class="smooth-goto"><div>עדויות</div></a></li>
							<li><a href="#section-help" class="smooth-goto"><div>צור קשר</div></a></li>
							<li><a></a></li>
						</ul>

					</div>

				</nav><!-- #primary-menu end -->
				<div id="page-submenu-trigger"><i class="icon-reorder"></i></div>
			</div>

		</header><!-- #header end -->