<% include partials/header %>
<link rel="stylesheet" href="/home.css" type="text/css" />
	<!-- Document Title
	============================================= -->
	<title>אלף-אלף קידום בניית אתרים באינטרנט</title>

</head>

<body class="stretched rtl no-transition">

	<!-- Document Wrapper
	============================================= -->
	<div id="wrapper" class="clearfix">

		<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-sm">
				<div class="modal-body text-center">
					<div class="modal-content">
						<div class="modal-header">
							<h4 class="modal-title" id="myModalLabel">אודות</h4>
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
						</div>
						<div class="modal-body">
							<a href="tel:0547077590" class="nobottommargin">054-7077-590</a>
							<p class="nobottommargin">contact@alifalif.co</p>
							<a href="" class="nobottommargin">www.facebook.com/alifalifreelance</a>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Header
		============================================= -->
		<header id="header" class="sticky-style-2">

			<div class="container clearfix">

				<!-- Logo
				============================================= -->
				<div id="logo" class="divcenter">
					<a href="/" class="standard-logo"><img class="divcenter" src="images/logo.png" style="padding: 10px 0;" alt="אלף"></a>
				</div><!-- #logo end -->

			</div>

			<div id="header-wrap">

				<!-- Primary Navigation
				============================================= -->
				<nav id="primary-menu" class="style-2 center">

					<div class="container clearfix">

						<div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

						<ul>
							<li class="current"><a href="#" data-href="#header"><div>ראשי</div></a></li>
							<li><a href="#section-service" class="smooth-goto"><div>שירות</div></a></li>
							<li><a href="#section-portfolio" class="smooth-goto"><div>עבודה</div></a></li>
							<li><a href="#section-testimonials" class="smooth-goto"><div>עדויות</div></a></li>
							<li><a href="#section-help" class="smooth-goto"><div>צור קשר</div></a></li>
						</ul>

					</div>

				</nav><!-- #primary-menu end -->
				<div id="page-submenu-trigger"><i class="icon-reorder"></i></div>
			</div>

		</header><!-- #header end -->
		
        <section id="page-title">

			<div class="container clearfix">			
					<form action="/login" method="POST">
						שם משתמש: <input name="user" type="text" maxlength="16" style="margin-left: 20pt; margin-right: 20pt;" required><br/><br/>
						סיסמה: <input name="password" type="password" maxlength="16" style="margin-left: 42pt; margin-right: 42pt;" required><br/><br/><br/>
						<button style="margin-right: 20pt; margin-left: 20pt;"><a href="/">חזרה</a><button>
						<input type="submit" id="login" value="כניסה" style="border: none;"/>
					</form>
			</div>

		</section>

        <section id="content" style="margin-bottom: 0px;">

			<div class="content-wrap">

				<div class="container clearfix">

					
				
				

				</div>

			</div>

		</section>
<% include partials/footer %>