<% include partials/header %>
	<iframe src="https://cdn.flipsnack.com/widget/v2/widget.html?hash=fhk5oif97" width="100%" height="480" seamless="seamless" scrolling="no" frameBorder="0" allowFullScreen></iframe>
		<!-- Content
		============================================= -->
		<section id="content">

			<div class="content-wrap">

				<div class="container clearfix">

					<div class="divcenter center clearfix" style="max-width: 900px;">
						<img class="bottommargin" src="images/logo-side.png" alt="">
						<h1><span>נגריה</span> לכל דבר</h1>
						<h2>עבודת נגרות הכי נהדרת בעיצוב מודרני, יפה ומתגמל בכל הבית עם רהיטים בפחות זמן ואיכות גבוה.</h2>
						<a href="tel:052-229-0920" class="button button-3d button-dark button-large ">052-229-0920</a>
						<a href="tel:052-229-0920" class="button button-3d button-large">התקשר</a>
					</div>

					<div class="line"></div>

				</div>

				<div class="clear"></div>

				<div class="container clearfix">

					<div class="col_one_third nobottommargin">
						<div class="feature-box media-box">
							<div class="fbox-media">
								<img src="/images/services/1.jpg" alt="Why choose Us?">
							</div>
							<div class="fbox-desc">
								<h3>מדוע לבחור בנו.<span class="subtitle">כי אנחנו אמינים.</span></h3>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi rem, facilis nobis voluptatum est voluptatem accusamus molestiae eaque perspiciatis mollitia.</p>
							</div>
						</div>
					</div>

					<div class="col_one_third nobottommargin">
						<div class="feature-box media-box">
							<div class="fbox-media">
								<img src="/images/services/2.jpg" alt="Why choose Us?">
							</div>
							<div class="fbox-desc">
								<h3>המשימה שלנו.<span class="subtitle">להגדיר מחדש את הסגנון שלך.</span></h3>
								<p>Quos, non, esse eligendi ab accusantium voluptatem. Maxime eligendi beatae, atque tempora ullam. Vitae delectus quia, consequuntur rerum molestias quo.</p>
							</div>
						</div>
					</div>

					<div class="col_one_third nobottommargin col_last">
						<div class="feature-box media-box">
							<div class="fbox-media">
								<img src="/images/services/3.jpg" alt="Why choose Us?">
							</div>
							<div class="fbox-desc">
								<h3>מה אנחנו עושים.<span class="subtitle">שמחה ללקוחות שלנו.</span></h3>
								<p>Porro repellat vero sapiente amet vitae quibusdam necessitatibus consectetur, labore totam. Accusamus perspiciatis asperiores labore esse ab accusantium ea modi ut.</p>
							</div>
						</div>
					</div>

				</div>

				<div class="section notopborder topmargin-sm bottommargin-sm noborder nobg">

					<div class="container clearfix">

						<div class="col_one_fourth nobottommargin center" data-animate="bounceIn">
							<i class="i-plain i-xlarge divcenter nobottommargin icon-magic"></i>
							<div class="counter counter-lined"><span data-from="50" data-to="150" data-refresh-interval="20" data-speed="2000"></span>+</div>
							<h5>סגנון חדש</h5>
						</div>

						<div class="col_one_fourth nobottommargin center" data-animate="bounceIn" data-delay="200">
							<i class="i-plain i-xlarge divcenter nobottommargin icon-user"></i>
							<div class="counter counter-lined"><span data-from="10" data-to="60" data-refresh-interval="10" data-speed="2500"></span>+</div>
							<h5>לקוח</h5>
						</div>

						<div class="col_one_fourth nobottommargin center" data-animate="bounceIn" data-delay="400">
							<i class="i-plain i-xlarge divcenter nobottommargin icon-file-text"></i>
							<div class="counter counter-lined"><span data-from="10" data-to="200" data-refresh-interval="25" data-speed="3500"></span>*</div>
							<h5>פרוייקטים</h5>
						</div>

						<div class="col_one_fourth nobottommargin center col_last" data-animate="bounceIn" data-delay="600">
							<i class="i-plain i-xlarge divcenter nobottommargin icon-time"></i>
							<div class="counter counter-lined"><span data-from="60" data-to="1200" data-refresh-interval="30" data-speed="2700"></span>+</div>
							<h5>שעות עבודה</h5>
						</div>

					</div>

				</div>

				<!-- Portfolio Script
				============================================= -->

				<div class="clear"></div>

				<a href="#" class="button button-full button-dark center tright bottommargin-lg">
					<div class="container clearfix">
						כל מה שיש זה עבודה נהדרת ושמחה ללקוחות <strong>עקבו אחרינו</strong> <i class="icon-caret-right" style="top:4px;"></i>
					</div>
				</a>

				<div class="container clearfix">

					<div class="col_three_fifth topmargin-sm bottommargin">
						<img data-animate="fadeInLeftBig" src="/images/services/imac.png" alt="Imac">
					</div>

					<div class="col_two_fifth topmargin-sm bottommargin-lg col_last">

						<div class="heading-block topmargin">
							<h2>נגרות זו עבודה.</h2>
							<span>כמו כל עבודה אחרת, יש לדרישות ולהבנה של כל טכניקות הנגרות השונות.</span>
						</div>

						<p>קרא הדפסים, רישומים ורישומים בכדי להבין היטב את הדרישות
							ערכו מדידות וחישבו את גודל וכמות החומר הדרוש
							חותכים, מעצבים ומחליקים עצים וחומרים אחרים (למשל פיברגלס) על פי המידות
							בנה מסגרות חלונות, דלתות, גרמי מדרגות ומבנים ממסגרות באמצעות חומרי גלם או פריטים שנבנו מראש</p>

						<a href="https://www.facebook.com/carpenterforeverything/" class="button button-border button-rounded button-large noleftmargin topmargin-sm">התנסו יותר</a>

					</div>

				</div>
			</div>

		</section><!-- #content end -->
<% include partials/footer %>
