<% include partials/header %>
<link rel="stylesheet" href="/home.css" type="text/css" />
	<!-- Document Title
	============================================= -->
	<title>אלף-אלף קידום בניית אתרים באינטרנט</title>

</head>

<body class="stretched rtl no-transition">

	<!-- Document Wrapper
	============================================= -->
	<div id="wrapper" class="clearfix">

		<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-sm">
				<div class="modal-body text-center">
					<div class="modal-content">
						<div class="modal-header">
							<h4 class="modal-title" id="myModalLabel">אודות</h4>
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
						</div>
						<div class="modal-body">
							<a href="tel:0547077590" class="nobottommargin">054-7077-590</a>
							<p class="nobottommargin">contact@alifalif.co</p>
							<a href="" class="nobottommargin">www.facebook.com/alifalifreelance</a>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Header
		============================================= -->
		<header id="header" class="sticky-style-2">

			<div class="container clearfix">

				<!-- Logo
				============================================= -->
				<div id="logo" class="divcenter">
					<a href="/" class="standard-logo"><img class="divcenter" src="images/logo.png" style="padding: 10px 0;" alt="אלף"></a>
				</div><!-- #logo end -->

			</div>

			<div id="header-wrap">

				<!-- Primary Navigation
				============================================= -->
				<nav id="primary-menu" class="style-2 center">

					<div class="container clearfix">

						<div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

						<ul>
							<li class="current"><a href="#" data-href="#header"><div>ראשי</div></a></li>
							<li><a href="#section-service" class="smooth-goto"><div>שירות</div></a></li>
							<li><a href="#section-portfolio" class="smooth-goto"><div>עבודה</div></a></li>
							<li><a href="#section-testimonials" class="smooth-goto"><div>עדויות</div></a></li>
							<li><a href="#section-help" class="smooth-goto"><div>צור קשר</div></a></li>
						</ul>

					</div>

				</nav><!-- #primary-menu end -->
				<div id="page-submenu-trigger"><i class="icon-reorder"></i></div>
			</div>

		</header><!-- #header end -->
		
        <section id="page-title">

			<div class="container clearfix">
				<h1>דף לא נמצא</h1>
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="/">בית</a></li>
					<li class="breadcrumb-item active" aria-current="page">404</li>
				</ol>
			</div>

		</section>

        <section id="content" style="margin-bottom: 0px;">

			<div class="content-wrap">

				<div class="container clearfix">

					<div class="col_half nobottommargin">
						<div class="error404 center">404</div>
					</div>

					<div class="col_half nobottommargin col_last">

						<div class="heading-block nobottomborder">
							<h4>אופס.! הדף שחיפשת, לא נמצא.</h4>
							<span>נסה לחפש את ההתאמה הטובה ביותר או לעיין בקישורים הבאים:</span>
						</div>

						<form action="#" method="get" class="nobottommargin">
							<div class="input-group input-group-lg">
								<input type="text" class="form-control" placeholder="Search for Pages...">
								<div class="input-group-append">
									<button class="btn btn-danger" type="button">חיפוש</button>
								</div>
							</div>
						</form>

						<div class="col_one_third widget_links topmargin nobottommargin">
							<ul>
								<li><a href="/">בית</a></li>
								<li><a href="/blog">בלוג</a></li>
							</ul>
						</div>

					</div>

				</div>

			</div>

		</section>
<% include partials/footer %>