<!DOCTYPE html>
<html>

<head>

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>

<link rel="stylesheet" type="text/css" href="css/flipbook.style.css">
<link rel="stylesheet" type="text/css" href="css/font-awesome.css">

<script src="js/flipbook/flipbook.js"></script>

<script type="text/javascript">

    $(document).ready(function () {
        $("#container").flipBook({
            pages:[
                {src:"images/catalog/1.jpg", thumb:"images/book2/thumb1.jpg", title:"Cover"},
                {src:"images/catalog/2.jpg", thumb:"images/book2/thumb1.jpg", title:"Cover"},
                {src:"images/catalog/3.jpg", thumb:"images/book2/thumb1.jpg", title:"Cover"},
                {src:"images/catalog/4.jpg", thumb:"images/book2/thumb1.jpg", title:"Cover"},
                {src:"images/catalog/5.jpg", thumb:"images/book2/thumb1.jpg", title:"Cover"},
                {src:"images/catalog/6.jpg", thumb:"images/book2/thumb1.jpg", title:"Cover"},
                {src:"images/catalog/7.jpg", thumb:"images/book2/thumb1.jpg", title:"Cover"},
                {src:"images/catalog/8.jpg", thumb:"images/book2/thumb1.jpg", title:"Cover"},
                {src:"images/catalog/9.jpg", thumb:"images/book2/thumb1.jpg", title:"Cover"},
                {src:"images/catalog/10.jpg", thumb:"images/book2/thumb1.jpg", title:"Cover"},
                {src:"images/catalog/11.jpg", thumb:"images/book2/thumb1.jpg", title:"Cover"},
                {src:"images/catalog/12.jpg", thumb:"images/book2/thumb1.jpg", title:"Cover"},
                {src:"images/catalog/13.jpg", thumb:"images/book2/thumb1.jpg", title:"Cover"},
                {src:"images/catalog/14.jpg", thumb:"images/book2/thumb1.jpg", title:"Cover"},
                {src:"images/catalog/15.jpg", thumb:"images/book2/thumb1.jpg", title:"Cover"},
                {src:"images/catalog/16.jpg", thumb:"images/book2/thumb1.jpg", title:"Cover"},
                {src:"images/catalog/17.jpg", thumb:"images/book2/thumb1.jpg", title:"Cover"},
                {src:"images/catalog/18.jpg", thumb:"images/book2/thumb1.jpg", title:"Cover"},
                {src:"images/catalog/19.jpg", thumb:"images/book2/thumb1.jpg", title:"Cover"},
                {src:"images/catalog/20.jpg", thumb:"images/book2/thumb1.jpg", title:"Cover"},
                {src:"images/catalog/21.jpg", thumb:"images/book2/thumb1.jpg", title:"Cover"},
                {src:"images/catalog/22.jpg", thumb:"images/book2/thumb1.jpg", title:"Cover"},
                {src:"images/catalog/23.jpg", thumb:"images/book2/thumb1.jpg", title:"Cover"},
                {src:"images/catalog/24.jpg", thumb:"images/book2/thumb1.jpg", title:"Cover"},
                {src:"images/catalog/25.jpg", thumb:"images/book2/thumb1.jpg", title:"Cover"},
                {src:"images/catalog/26.jpg", thumb:"images/book2/thumb1.jpg", title:"Cover"},
                {src:"images/catalog/27.jpg", thumb:"images/book2/thumb1.jpg", title:"Cover"},
                {src:"images/catalog/28.jpg", thumb:"images/book2/thumb1.jpg", title:"Cover"},
                {src:"images/catalog/29.jpg", thumb:"images/book2/thumb1.jpg", title:"Cover"},
                {src:"images/catalog/30.jpg", thumb:"images/book2/thumb1.jpg", title:"Cover"}
            ],
            viewMode:'3d'
        });

    })
</script>


</head>

<body>
<div id="container"/>
</body>

</html>
