<% include partials/header %>
		<!-- Slider
		============================================= -->
		<section id="slider" class="slider-element slider-parallax full-screen clearfix" style="background: #FFF url('images/hero/hero-1.jpg') center center no-repeat; background-size: cover; direction:left;">

			<div class="vertical-middle">
				<div class="container topmargin-sm">
					<div class="row justify-content-end">
						<div class="col-lg-5 col-md-8">
							<div class="slider-title">
								<div class="badge badge-pill badge-default" style="font-size: 1.5em;">אלף אלף</div>
								<h1>בניית אתרים לעסקים</h1>
								<h3 class="text-rotater mb-2" data-separator="," data-rotate="fadeIn" data-speed="2500">- כל עסק היום בונה אתר <span class="t-rotate">מעוצב,מיוחד,בלי לדאוג </span> ומרביחים בקלות.</h3>
								<p>העסק של יונובן הוא עכשיו יותר טוב מכל העסקים לידו! רק בגלל שהוא בנה אתר, כל הלקוחות חשבו המוצרים והמחירים שלו הם הכי טובים. למרות שהוא נפתח במשך חודשיים, הוא כבר מפורסם בכל רחבי הארץ.</p>
								<a href="tel:97254-7077-590" class="button button-rounded button-large nott ls0" data-toggle="tooltip" data-placement="top" title="" data-original-title="054-7077-590">054-7077-590</a>
								<a href="#" data-toggle="modal" data-target=".bs-example-modal-sm" class="button button-rounded button-large button-light text-dark bg-white border nott ls0">תהיה מוצלח בעולם האינטרנט</a>
							</div>
						</div>
					</div>
				</div>

			</div>

			<div class="video-wrap h-100 d-block d-lg-none">
				<div class="video-overlay" style="background: rgba(255,255,255,0.85);"></div>
			</div>


		</section><!-- #slider end -->
		
		<!-- Content
		============================================= -->
		<section id="content">

			<div class="content-wrap pt-0">

				<!-- Client Carousel
				============================================= -->
				<div class="section nobg m-0 border-bottom py-5">
					<div class="container">
						<div id="oc-clients" class="owl-carousel image-carousel carousel-widget" data-margin="100" data-loop="true" data-autoplay="5000" data-nav="false" data-pagi="false" data-items-xs="2" data-items-sm="3" data-items-md="4" data-items-lg="5" data-items-xl="6">
							<div class="oc-item"><a href="https://aws.amazon.com/"><img src="images/clients/amazon-aws.png" alt="amazon"></a></div>
							<div class="oc-item"><a href="https://www.digitalocean.com/"><img src="images/clients/digital-ocean.png" alt="digital ocean"></a></div>
							<div class="oc-item"><a href="https://www.docker.com/"><img src="images/clients/docker.png" alt="docker"></a></div>
							<div class="oc-item"><a href="https://www.facebook.com/business/ads"><img src="images/clients/facebook-ad.png" alt="facebook-ads"></a></div>
							<div class="oc-item"><a href="https://www.google.com/intl/ar/adsense/start/#/?modal_active=none"><img src="images/clients/google-partner.png" alt="google-ad"></a></div>
							<div class="oc-item"><a href="https://www.namecheap.com/"><img src="images/clients/namecheap.png" alt="namecheap"></a></div>
						</div>
					</div>
				</div>

				<!-- Services
				============================================= -->
				<div id="section-service" class="section nobg mt-4 mb-0 pb-0">
					<div class="container">
						<div class="heading-block nobottomborder center divcenter mb-0 clearfix" style="max-width: 550px">
							<div class="badge badge-pill badge-default">שירות</div>
							<h3 class="nott ls0 mb-3"></h3>
							<p>בניית אתרים זה עבודה קשה, אתה בעל עסק שעובד קשה! ראוי שתקבל רק את השירות הכי נהדרת.</p>
						</div>
						<div class="row justify-content-between align-items-center clearfix">

							<div class="col-lg-4 col-sm-6">

								<div class="feature-box fbox-right noborder">
									<div class="fbox-icon">
										<a href="#"><img src="images/icons/seo.svg" alt="קידום אתרים" class="nobg noradius"></a>
									</div>
									<h3 class="nott ls0">קידום אתר</h3>
									<p>לא מספיק שיש לך אתר, התוכן מתאים ללקוחות פוטנציאלים, בגוגל ובחיפושים שונים.</p>
								</div>

								<div class="feature-box fbox-right noborder mt-5">
									<div class="fbox-icon">
										<a href="#"><img src="images/icons/adword.svg" alt="שיווק בגוגל" class="nobg noradius"></a>
									</div>
									<h3 class="nott ls0">מותאם ב-Google</h3>
									<p>שאנשים ולקוחות מסתכלים בחיפושים, חייב לראות האתר בראש הדף.</p>
								</div>

								<div class="feature-box fbox-right noborder mt-5">
									<div class="fbox-icon">
										<a href="#"><img src="images/icons/analysis.svg" alt="עדכון אתר" class="nobg noradius"></a>
									</div>
									<h3 class="nott ls0">3 חודשים ניתוח דיגיטלי</h3>
									<p>לא רק לבנות את האתר שלך, דוחות ועדכונים במשך 3 חודשים, לעזור לך בקבלת תוצאות.</p>
								</div>

							</div>

							<div class="col-lg-3 col-7 offset-3 offset-sm-0 d-sm-none d-lg-block center my-5">
								<img src="images/sections/2.png" alt="iphone" class="rounded  parallax" data-bottom-top="transform: translateY(-30px)" data-top-bottom="transform: translateY(30px)">
							</div>

							<div class="col-lg-4 col-sm-6">

								<div class="feature-box noborder">
									<div class="fbox-icon">
										<a href="#"><img src="images/icons/experience.svg" alt="שיווק ברשתות חברתיות" class="nobg noradius"></a>
									</div>
									<h3 class="nott ls0">שיווק ברשתות חברתיות</h3>
									<p>חברות בעולם תמיד משווקות ברשת החברתית, שיווק הפיסבוק עצמו יכול להביא הרבה לקוחות.</p>
								</div>

								<div class="feature-box noborder mt-5">
									<div class="fbox-icon">
										<a href="#"><img src="images/icons/content_marketing.svg" alt="אתר עסקי" class="nobg noradius"></a>
									</div>
									<h3 class="nott ls0">חווית לקוח</h3>
									<p>הכל באתר, חייב להיות מופנה כלפי הלקוח, האתר הוא עסק מקוון. שעבודתו להשיג לקוחות.</p>
								</div>

								<div class="feature-box noborder mt-5">
									<div class="fbox-icon">
										<a href="#"><img src="images/icons/social.svg" alt="אתר אורגני" class="nobg noradius"></a>
									</div>
									<h3 class="nott ls0">עובד על כל המכשירים</h3>
									<p>עיצוב אתר אינטרנט מיוחד לסוג עסק, יפה ועובד בלי אף בעיה על כל המכשירים.</p>
								</div>

							</div>

						</div>
					</div>
				</div>

				<!-- Help Section
				============================================= -->
				<div id="section-help" class="section m-0" style="background: url('images/sections/1.jpg') no-repeat center center; background-size: cover; padding: 100px 0;">
					<div class="container">
						<div class="row justify-content-between align-items-center">

							<div class="col-md-4 mt-5 mt-md-0 center">
								<a href="https://www.youtube.com/watch?v=P3Huse9K6Xs" data-lightbox="iframe" class="play-icon shadow"><i class="icon-play"></i></a>
							</div>


							<div class="col-lg-3 col-md-4">
								<div class="card shadow-sm">
									<div class="card-body">
										<h4 class="mb-3">צור קשר</h4>

											<div class="form-result"></div>
											<form class="nobottommargin" action="/" method="post">
												<div class="col_full mb-3">
													<label for="template-contactform-name">שם:*</label>
													<input type="text" id="template-contactform-name" name="name" class="form-control input-sm required" value="">
												</div>
												<div class="col_full mb-3">
													<label for="template-contactform-email">מ"ל:*</label>
													<input type="email" id="template-contactform-email" name="email" class="form-control input-sm required" value="">
												</div>
												<div class="col_full mb-4">
													<label for="template-contactform-website">פנייה:*</label>
													<input type="text" id="template-contactform-website" name="subject" class="form-control input-sm required" value="">
												</div>
												<div class="col_full nobottommargin">
													<button class="button button-rounded btn-block nott ls0 m-0" type="submit" value="submit">שליחה</button>
												</div>
											</form>
										
									</div>
								</div>
							</div>

							<div class="col-md-4">
								<div class="heading-block nobottomborder bottommargin-sm">
									<div class="badge badge-pill badge-default">שירות לקוחות</div>
									<h3 class="nott ls0">קבל תגובה באותו יום</h3>
								</div>
								<p>אם יש לך שאלה, אל תהסס לפנות אלינו על כל נושא שאתה חושב שאנחנו נכול לעזור לך, גם אם אתה לא לקוח.</p>
							</div>

						</div>

					</div>
				</div>

				<!-- Works/Projects
				============================================= -->
				<div id="section-portfolio" class="section m-0" style="background: url('images/sections/5.jpg') no-repeat center center; background-size: cover;padding: 80px 0;">
					<div class="container">
						<div class="heading-block nobottomborder center">
							<div class="badge badge-pill badge-default">דוגמאות אתרים</div>
							<h3 class="nott ls0">איזה אתרים אתה תקבל</h3>
						</div>

						<div id="portfolio" class="portfolio portfolio-3 grid-container clearfix">

							<article class="portfolio-item pf-media pf-icons">
								<div class="portfolio-image">
									<img src="images/works/7.jpg" alt="דף נתיחה">
									<div class="portfolio-overlay">
										<a href="http://www.photofactory.co.il" class="center-icon"><i class="icon-line-ellipsis"></i></a>
									</div>
								</div>
								<div class="portfolio-desc">
									<h3><a href="#">חנות מקוון (ecommerce)</a></h3>
									<span>דוגמא ללקוח: דפוס פוטו פאקתורי - נחף הצפון</span>
								</div>
							</article>

							<article class="portfolio-item pf-illustrations">
								<div class="portfolio-image">
									<img src="images/works/3.jpg" alt="Wavelength Structure">
									<div class="portfolio-overlay">
										<a href="http://www.embassy-english.co.il" class="center-icon"><i class="icon-line-ellipsis"></i></a>
									</div>
								</div>
								<div class="portfolio-desc">
									<h3>דף נתיחה - השגת לקוחות</h3>
									<span>דוגמא ללקוח: Embassy English טיולים הצפון</span>
								</div>
							</article>

							<article class="portfolio-item pf-graphics pf-uielements">
								<div class="portfolio-image">
									<img src="images/works/1.jpg" alt="Greenhouse Garden">
									<div class="portfolio-overlay">
										<a href="#" class="center-icon"><i class="icon-line-ellipsis"></i></a>
									</div>
								</div>
								<div class="portfolio-desc">
									<h3>אפליקציית ניהול נתונים</h3>
									<span>דוגמא ללקוח: דפוס אקסל - רמת גן</span>
								</div>
							</article>

						</div>

						<div class="center">
							<a href="tel:054-7077590" class="button button-large button-rounded capitalize ml-0 mt-5 ls0"  data-toggle="tooltip" data-placement="top" title="" data-original-title="054-7077-590">תתקשר עכשיו</a>
						</div>

					</div>
				</div>

				<!-- Features
				============================================= -->
				<div class="container clearfix py-5">
					<div class="row">
						<div class="col-md-4 mt-5">
							<div class="feature-box fbox-center noborder">
								<div class="fbox-icon">
									<a href="#"><img src="images/icons/research.svg" alt="Feature Icon" class="nobg noradius"></a>
								</div>
								<h3 class="nott ls0">1. תכנון ואיסוף תוכן</h3>
								<p>תהליך ראשון זה ללקחת כמה שיותר אנפורמציה על עסק ועל השירותים השונים שמציע ללקוח עם תמונות ועותק.</p>
							</div>
						</div>

						<div class="col-md-4 mt-5">
							<div class="feature-box fbox-center noborder">
								<div class="fbox-icon">
									<a href="#"><img src="images/icons/optimizing.svg" alt="Feature Icon" class="nobg noradius"></a>
								</div>
								<h3 class="nott ls0">2. עיצוב וייושם האתר</h3>
								<p>למשך שבוע, מזמינים עיצוב יפה ומיוחד, שמכיל כל המאפיינים שבעל עסק רוצה.</p>
							</div>
						</div>

						<div class="col-md-4 mt-5">
							<div class="feature-box fbox-center noborder">
								<div class="fbox-icon">
									<a href="#"><img src="images/icons/result.svg" alt="Feature Icon" class="nobg noradius"></a>
								</div>
								<h3 class="nott ls0">3. תוצאה מעולה</h3>
								<p>למשך 3 חודשים, לעקוב אחר האתר ולוודא שהעסק מקבל את התוצאה הרצויה.</p>
							</div>
						</div>
					</div>
				</div>

				<!-- Testimonials
				============================================= -->
				<section id="section-testimonials" class="page-selection">
				<div class="section mt-0" style="background: url('images/sections/3.jpg') no-repeat top center; background-size: cover; padding: 80px 0 70px;">
					<div class="container">
						<div class="heading-block nobottomborder center">
							<div class="badge badge-pill badge-default">עדויות</div>
							<h3 class="nott ls0">מה בעלי עסק אומרים</h3>
						</div>

						<div id="oc-testi" class="owl-carousel testimonials-carousel carousel-widget clearfix" data-margin="0" data-pagi="true" data-loop="true" data-center="true" data-autoplay="5000" data-items-sm="1" data-items-md="2" data-items-xl="3">

							<div class="oc-item">
								<div class="testimonial">
									<div class="testi-image">
										<a href="#"><img src="/images/testimonials/1.png" alt="Customer Testimonails"></a>
									</div>
									<div class="testi-content">
										<p>העבודה של אליף-אליף הכפיל מכירות המוצרים בחודש, עבור עסקי הקטן, מוצרים מוכרים כל יום ואני פשוט יושב על הכיסא שלי.</p>
										<div class="testi-meta">
											מוחמד קשקוש
											<span>פוטו פאקפורי</span>
										</div>
									</div>
								</div>
							</div>

							<div class="oc-item">
								<div class="testimonial">
									<div class="testi-image">
										<a href="#"><img src="/images/testimonials/2.png" alt="Customer Testimonails"></a>
									</div>
									<div class="testi-content">
										<p>מקבל את האנשים הנכונים כדי להירשם לטיולים קשה, אבל עם פרסום האתר alif-alif, בחודשים יש לי יותר אנשים בקבוצה שלי והיה צריך ליצור עוד קבוצה אחרת,</p>
										<div class="testi-meta">
											עלי אסדי
											<span>Embassy English Trips</span>
										</div>
									</div>
								</div>
							</div>
							<div class="oc-item">
								<div class="testimonial">
									<div class="testi-image">
										<a href="#"><img src="images/testimonials/4.png" alt="Customer Testimonails"></a>
									</div>
									<div class="testi-content">
										<p>בניתי אתר עם alif-alif, הם עשו עבודה נהדרת וקבלתי את מה שאני צריך עם עיצוב מעולה</p>
										<div class="testi-meta">
											יונותן
											<span>K-leaks</span>
										</div>
									</div>
								</div>
							</div>
							<div class="oc-item">
								<div class="testimonial">
									<div class="testi-image">
										<a href="#"><img src="images/testimonials/3.png" alt="Customer Testimonails"></a>
									</div>
									<div class="testi-content">
										<p>ניהול מסד הנתונים עבור העסק שלי מעולם לא היה קל יותר, יש לו את כל הפונקציות ואת העיצוב הוא ברמה הגבוהה ביותר וקל לשימוש. ניהול הזמנות מסחר אלקטרוני ועוד.</p>
										<div class="testi-meta">
											מיקי מרגי
											<span>ארות - gift shop</span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				</section>
				<!-- Promo/Contact
				============================================= -->
				<div id="contact" class="section mt-5 footer-stick promo-section nobg" style="padding: 100px 0; overflow: visible">
					<div class="container">
						<div class="heading-block nobottomborder center">
							<h5 class="uppercase ls1 mb-1">אל תחקה עוד יותר זמן</h5>
							<h2 class="nott ls0">כל האנשים מחפשים באנטרנט על עסקים חדשים: אתר עסקי זה להיות<span> עולמי</span></h2>
							<a href="#" class="button button-large button-rounded nott ml-0 ls0 mt-4" data-toggle="modal" data-target=".bs-example-modal-sm">תיצור קשר</a>
						</div>
					</div>
				</div>

			</div>

		</section><!-- #content end -->



<% include partials/footer %>