<% include partials/header %>

	<!-- Home Demo Specific Stylesheet -->
	<link rel="stylesheet" href="demos/interior-design/interior-design.css" type="text/css" />

	<!-- Reader's Blog Demo Specific Fonts -->
	<link rel="stylesheet" href="demos/interior-design/css/fonts.css" type="text/css" />

	<link rel="stylesheet" href="css/colors.php?color=1c85e8" type="text/css" />

	<!-- Document Title
	============================================= -->
	<title>اعلانات ألف الف</title>

</head>

<body class="stretched side-push-panel">

	<!-- Document Wrapper
	============================================= -->
	<div id="wrapper" class="clearfix">

		<!-- Header
		============================================= -->
		<header id="header">

			<div id="header-wrap">

				<div class="container clearfix">

					<div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

					<div class="row justify-content-xl-between justify-content-lg-between clearfix">

						<div class="col-lg-2 col-12 d-flex align-self-center">
							<!-- Logo
							============================================= -->
							<div id="logo">
								<a href="/" class="standard-logo"><img class="p-2" src="images/logo.png" alt="AlifAlif Logo"></a>
							</div><!-- #logo end -->

						</div>


						<div class="col-lg-2 d-none d-lg-inline-flex d-xl-inline-flex justify-content-end nomargin">
							<div id="side-panel-trigger" class="side-panel-trigger">
								<a href="tel: 0547077590" class="d-none d-lg-block">054-707-7590<i class="icon-line-arrow-right"></i></a>
							</div>
						</div>
						<a href="#" class="d-block d-lg-none mobile-side-panel side-panel-trigger"><i class="icon-line-arrow-right"></i></a>
					</div>
				</div>

			</div>

		</header><!-- #header end -->

		<!-- Slider
		============================================= -->
		<section id="slider" class="slider-element clearfix" style="height: 500px; background: url('demos/interior-design/images/hero.webp') center center ;">
			<div class="vertical-middle">
				<div class="container clearfix">

					<div class="clearfix center divcenter" style="max-width: 800px;">
						<div class="emphasis-title">
							<h1 class="font-secondary" style="color: #FFF; font-size: 76px; font-weight: 900; text-shadow: 0 7px 10px rgba(0,0,0,0.8), 0 4px 4px rgba(0,0,0,0.2);">تخفيض 60% حتى اخر الشهر</h1>
							<p style="font-weight: 300; font-size:48px; opacity: .7; color: #FFF; text-shadow: 0 -4px 20px rgba(0, 0, 0, .25);">الاعلان في الفيسبوك<br>وزيادة زبائن من الانترنت</p>
						</div>
						<div class="subscribe-widget" data-loader="button">
							<div class="widget-subscribe-form-result"></div>
							<form id="widget-subscribe-form" action="/" method="post" class="nobottommargin" data-animate="fadeInUp">
								<div class="input-group divcenter">
									<input type="email" id="widget-subscribe-form-email" name="email" class="form-control form-control-lg not-dark required email" placeholder="الهاتف او الايميل" style="border: 0; box-shadow: none; overflow: hidden;">
									<div class="input-group-append">
										<button class="button t400" type="submit" style="border-radius: 3px;">احصل على تخفيض</button>
									</div>
								</div>
							</form>
						</div>
					</div>

				</div>
			</div>

		</section>

		<!-- Content
		============================================= -->
		<section id="content">

			<div class="content-wrap notoppadding clearfix">

				<div class="section notopmargin clearfix" style="padding: 80px 0">
					<div class="container clearfix">

						<div class="divcenter" style="max-width: 960px">
							<div class="row clearfix">
								<div class="col-12 col-md-4 center customers-count">
									<div class="counter center counter-large font-primary"><span data-from="100" data-to="1000000" data-refresh-interval="100" data-speed="1000" data-comma="true"></span></div>
									<p>زبون عربي محتمل في اسرائيل</p>
								</div>
								<div class="col-12 col-md-7 offset-md-1">
									<blockquote class="quote nobottommargin">
										<p>جميع الناس تستعمل الفيسبوك والانستاغرام... ان لم يكن لديك واجهة على الويب لعملك فأنت تفقد 100% من زبائن الانترنت.</p>
										<footer class="color">احمد عباس, مندوب الشركة</footer>
									</blockquote>
								</div>
							</div>
						</div>

					</div>
				</div>

				<div class="container topmargin-lg bottommargin-lg clearfix">

					<div class="divcenter" style="max-width: 960px">
						<div class="heading-block center nobottomborder">
							<h2 class="ls2 t700">خدماتنا هي الحصول على نتائج</h2>
							<span>ماذا ستحصل مقابل اشتراكك</span>
						</div>
						<div class="tabs tabs-alt tabs-responsive tabs-justify clearfix" id="tab">

							<ul class="tab-nav clearfix">
								<li><a href="#tabs-1"><i class="icon-line2-social-dropbox"></i>اعلانات ناجحة</a></li>
								<li><a href="#tabs-2"><i class="icon-line2-key"></i>ادارة صفحة الفيسبوك</a></li>
								<li><a href="#tabs-3"><i class="icon-line2-pointer"></i>تسجيل مصلحة رسمي</a></li>
								<li><a href="#tabs-4"><i class="icon-line2-drop"></i>خدمة بثقة</a></li>
							</ul>

							<div class="tab-container">

								<div class="tab-content clearfix" id="tabs-1">
									<div class="story-box description-left clearfix">
										<div class="story-box-image">
											<img src="demos/interior-design/images/story/1.webp" alt="story-image">
										</div>
										<div class="story-box-info">
											<h3 class="story-title">نحن نساعدك في الحصول على العملاء</h3>
											<div class="story-box-content">
												<p>يمكن لإعلاناتنا أن تحصل على عملاء جدد ، كل أسبوع ، وتتذكر أن مجرد نشر العلامة التجارية الخاصة بك ومشاركتها عبر الإنترنت يمكن أن يوفر لك الوعي بعملك ونشره والحصول على أفضل النتائج والثقة بين العميل والبائع.</p>
												<button class="t300 button noleftmargin button-rounded">اتصل بنا</button>
											</div>
										</div>
									</div>
								</div>
								<div class="tab-content clearfix" id="tabs-2">
									<div class="story-box clearfix">
										<div class="story-box-image">
											<img src="demos/interior-design/images/story/2.webp" alt="story-image">
										</div>
										<div class="story-box-info">
											<h3 class="story-title">احصل على الاف الإعجابات والمشاركات بنشر أفضل محتوى</h3>
											<div class="story-box-content">
												<p>لذلك وظيفتنا أن نجعل عملك يبدو كمحترف وخبرته كبيرة في المجال من خلال محتوى جديد:</p>
                                                <ul class="mr-4" style="font-size: 24px">
                                                    <li>مقالات حصرية متوافقة مع عملك</li>
                                                    <li>تصميم صور واعلانات تجذب الزوار</li>
                                                    <li>نشر محتوى جديد في افضل الاوقات</li>
                                                    <li>اعطاء تقارير مفصلة حسب الطلب</li>
                                                </ul>
											</div>
										</div>
									</div>
								</div>
								<div class="tab-content clearfix" id="tabs-3">
									<div class="story-box description-left clearfix">
										<div class="story-box-image">
											<img src="demos/interior-design/images/story/3.webp" alt="story-image">
										</div>
										<div class="story-box-info">
											<h3 class="story-title">التسجيل الرسمي على شبكة الإنترنت</h3>
											<div class="story-box-content">
												<p>يحصل عملاؤنا على أفضل نتيجة ممكنة ، ولهذا السبب يتم تسجيل أي شخص يعمل معنا في عمل Google الرسمي  وفي Facebook المصلحة الرسمية ، وتسجيل مكان العمل في خرائط Google و Waze</p>
												<button class="t300 button noleftmargin button-rounded">اعرف المزيد</button>
											</div>
										</div>
									</div>
								</div>
								<div class="tab-content clearfix" id="tabs-4">
									<div class="story-box clearfix">
										<div class="story-box-image">
											<img src="demos/interior-design/images/story/4.webp" alt="story-image">
										</div>
										<div class="story-box-info">
											<h3 class="story-title">نحن نساعدك في اي وقت</h3>
											<div class="story-box-content">
												<p>الثقة بين الشركاء أمر لا بد منه ، فنحن لسنا مثل الشركات الأخرى ، وفريقنا مليء بالمحترفين الذين يساعدونك في أي وقت تحتاج إليه ، والإجابة على أي سؤال ، والرد على المكالمات في أي وقت.</p>
												<a href="#">اقرأ المزيد</a>
											</div>
										</div>
									</div>
								</div>

							</div>

						</div>
					</div>

				</div>

				<div class="section bottommargin-lg dark" style="background: url('demos/interior-design/images/section/1.jpg') center 80%; background-size: cover; padding: 180px 0">
					<div class="container clearfix">
						<div class="emphasis-title divcenter center" style="max-width: 700px">
							<h2 class="font-secondary ls1" style="font-size: 52px;">أتصل بنا لتتعلم أكثر عن الفيسبوك وكيفية الحصول على زبائن. يجب على كل صاحب عمل وضع علامته في الانترنت.</h2>
						</div>
					</div>
				</div>

				<div class="container clearfix">

					<div class="col_one_third nobottommargin">
						<div class="feature-box fbox-small fbox-center fbox-plain fbox-large nobottomborder">
							<div class="fbox-icon">
								<i class="icon-line2-home"></i>
							</div>
							<h3 class="ls0 t400 nott" style="font-size: 20px;">شركاء شركة فيسبوك</h3>
							<p style="font-size: 16px;">نحن شركاء مع شركة Facebook ، كل ما نقوم به يتوافق مع قوانين الشركة</p>
						</div>
					</div>
					<div class="col_one_third nobottommargin">
						<div class="feature-box fbox-small fbox-center fbox-plain fbox-large nobottomborder">
							<div class="fbox-icon">
								<i class="icon-line2-compass"></i>
							</div>
							<h3 class="ls0 t400 nott" style="font-size: 20px;">طلب مندوب</h3>
							<p style="font-size: 16px;">يمكنك طلب مندوب أن يأتي إليك ، وطلب المشورة في أي وقت</p>
						</div>
					</div>
					<div class="col_one_third nobottommargin col_last">
						<div class="feature-box fbox-small fbox-center fbox-plain fbox-large nobottomborder">
							<div class="fbox-icon">
								<i class="icon-line2-directions"></i>
							</div>
							<h3 class="ls0 t400 nott" style="font-size: 20px;">الوصول لأي مكان</h3>
							<p style="font-size: 16px;">نسافر إلى أي مكان لمقابلة عملائنا ومساعدتهم على النمو</p>
						</div>
					</div>
				</div>

			</div>

		</section><!-- #content end -->

<% include partials/footer %>

</body>
</html>