<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body {
	 display: flex;
	 justify-content: center;
	 align-items: center;
	 background: orange;
	 perspective: 500px;
	 perspective-origin: center center;
}
 #app {
	 position: relative;
	 background: green;
	max-width: 700px;
	 width: 90vw;
	 height: 90vh;
	 background-image: linear-gradient(#6139a0 0%, #26163f 100%);
	 border-radius: 3vmin;
	 cursor: pointer;
	 display: flex;
	 flex-direction: column;
	 align-items: center;
}
 #app:after {
	 display: block;
	 content: '';
	 background: rgba(0, 0, 0, 0.5);
	 width: 100%;
	 height: 100%;
	 position: absolute;
	 z-index: -1;
	 top: 10%;
	 border-radius: 3vmin;
	 transform-origin: center top;
	 transform: rotateX(-5deg);
	 box-shadow: 0 0 10vmin black;
}
 #app:hover .app__bottom_block {
	 height: 70vmax;
}
 .app__top_block {
	 flex: 1;
	 position: relative;
	 width: 100%;
}
 .app__top_block img {
	 position: absolute;
	 top: 50%;
	 left: 50%;
	 transform: translate(-50%, -50%);
	 width: 120%;
	 height: auto;
	 pointer-events: none;
}
 .app__bottom_block {
	 position: relative;
	 overflow: hidden;
	 width: 100%;
	 height: 0;
	 transition: height 0.4s ease-out;
}
 .bottom_block__form {
	 position: absolute;
	 top: 0;
	 left: 0;
	 right: 0;
	 height: 100%;
	 border-radius: 3vmin;
	 display: flex;
	 flex-direction: column;
	 align-items: center;
	 overflow: hidden;
	 transition: 1s linear;
}
 .from__selection {
	 flex: 1;
	 background: orange;
	 width: 90%;
	 border-radius: 3vmin 3vmin 0 0;
	 padding: 2vmin 0;
	 display: flex;
	 flex-direction: row;
	 flex-wrap: wrap;
	 justify-content: space-around;
	 align-items: center;
}
 .selection {
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center center;
    width: 92%;
    height: 80px;
    line-height: 8vmin;
    border: 1px solid gray;
    text-align: center;
    margin: 1.5vmin 0;
	border-radius: 5vmin;
	box-shadow: 1px 2px;
}
 .btn__submit {
	 background: orange;
	 width: 100%;
	 line-height: 10vmin;
	 text-align: center;
	 color: white;
	 font-size: 3.5vmin;
}
 #inspired {
	 position: fixed;
	 right: 0;
	 bottom: 0;
}

.icon {
	border-radius: 100%;
	background-color: #FFF;
    padding: 8px;
    color: #000;
    transform: rotate(0deg);
    transition: transform .5s ease-out;
	height: 40px;
	min-width: 40px;
    max-width: 40px;
}

.icon img {
	max-width: 100%;
}

.category {
	color: #FFF;
    padding-left: 10px;
    font-size: 18px;
}
 
    </style>
    <title>Document</title>
</head>
<body>
    <div id="app">
        <div class="app__top_block"><img src="http://www.mcdonalds.com.hk/content/dam/hongkong/ch/food/menu/093/McDonalds-Fries-093-hero.png" /></div>
        <div class="app__bottom_block">
            <div class="bottom_block__form">
                <div class="from__selection">
                    <div class="selection" style="background-image: url('/demos/recipes/images/categories/bf.jpg');">
						<div class="icon"><img src="/demos/recipes/images/icons/bf.svg" alt="Breakfast"></div>
						<div class="category">فطور</div>
					</div>
                    <div class="selection" style="background-image: url('/demos/recipes/images/categories/lunch.jpg');">
						<div class="icon"><img src="/demos/recipes/images/icons/lunch.svg" alt="Breakfast"></div>
						<div class="category">غذاء</div>
					</div>
					<div class="selection" style="background-image: url('/demos/recipes/images/categories/dinner.jpg');">
						<div class="icon"><img src="/demos/recipes/images/icons/dinner.svg" alt="Breakfast"></div>
						<div class="category">عشاء</div>
					</div>
					<div class="selection" style="background-image: url('/demos/recipes/images/categories/desserts.jpg');">
						<div class="icon"><img src="/demos/recipes/images/icons/desserts.svg" alt="Breakfast"></div>
						<div class="category">حلويات</div>
					</div>
					<div class="selection" style="background-image: url('/demos/recipes/images/categories/veg.jpg');">
						<div class="icon"><img src="/demos/recipes/images/icons/vegan.svg" alt="Breakfast"></div>
						<div class="category">سلطات</div>
					</div>
					<div class="selection" style="background-image: url('/demos/recipes/images/categories/seafood.jpg');">
						<div class="icon"><img src="/demos/recipes/images/icons/seafood.svg" alt="Breakfast"></div>
						<div class="category">أسماك</div>
					</div>
					<div class="selection" style="background-image: url('/demos/recipes/images/categories/drinks.jpg');">
						<div class="icon"><img src="/demos/recipes/images/icons/drinks.svg" alt="Breakfast"></div>
						<div class="category">مشروبات</div>
					</div>
                </div>
                <div class="btn__submit"></div>
            </div>
        </div>
    </div>
</body>
</html>