<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>

	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="author" content="SemiColonWeb" />

	<!-- Stylesheets
	============================================= -->
	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,400i,700%7CRaleway:300,400,500,600,700,800,900%Nixie+One:400%7CAnton:400" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" href="css/bootstrap.css" type="text/css" />
	<link rel="stylesheet" href="style.css" type="text/css" />
	<link rel="stylesheet" href="css/dark.css" type="text/css" />
	<link rel="stylesheet" href="css/font-icons.css" type="text/css" />
	<link rel="stylesheet" href="css/animate.css" type="text/css" />
	<link rel="stylesheet" href="css/magnific-popup.css" type="text/css" />

	<link rel="stylesheet" href="css/responsive.css" type="text/css" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<!-- SLIDER REVOLUTION 5.x CSS SETTINGS -->
	<link rel="stylesheet" type="text/css" href="include/rs-plugin/fonts/pe-icon-7-stroke/css/pe-icon-7-stroke.css">
	<link rel="stylesheet" type="text/css" href="include/rs-plugin/fonts/font-awesome/css/font-awesome.css">

	<link rel="stylesheet" type="text/css" href="include/rs-plugin/css/settings.css" media="screen" />
	<link rel="stylesheet" type="text/css" href="include/rs-plugin/css/layers.css">
	<link rel="stylesheet" type="text/css" href="include/rs-plugin/css/navigation.css">

	<!-- Document Title
	============================================= -->
	<title>حركة البناء الحضارية</title>


</head>

<body class="stretched">

	<!-- Document Wrapper
	============================================= -->
	<div id="wrapper" class="clearfix">


		<!-- Slider
		============================================= -->
		<section id="slider" class="slider-element revslider-wrap clearfix">

			<div id="rev_slider_232_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" data-alias="seasonal-offer" data-source="gallery" style="margin:0px auto;background:#fff;padding:0px;margin-top:0px;margin-bottom:0px;">
				<!-- START REVOLUTION SLIDER 5.4.8.1 fullwidth mode -->
				<div id="rev_slider_232_1" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.4.8.1">
					<ul>	<!-- SLIDE  -->
						<li data-index="rs-605" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="300"  data-rotate="0"  data-saveperformance="off"  data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
							<!-- MAIN IMAGE -->
							<img src="include/rs-plugin/demos/assets/images/transparent.png" data-bgcolor='#fff' style='background:#fff' alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="off" class="rev-slidebg" data-no-retina>
							<!-- LAYERS -->

							<!-- LAYER NR. 1 -->
							<div class="tp-caption  bg-light tp-resizeme rs-parallaxlevel-1"
								 id="slide-605-layer-5"
								 data-x="center" data-hoffset=""
								 data-y="bottom" data-voffset=""
											data-width="['none','none','none','none']"
								data-height="['none','none','none','none']"

								data-type="image"
								data-responsive_offset="on"

								data-frames='[{"delay":500,"speed":2000,"frame":"0","from":"y:500px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"Power4.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
								data-textAlign="['inherit','inherit','inherit','inherit']"
								data-paddingtop="[0,0,0,0]"
								data-paddingright="[0,0,0,0]"
								data-paddingbottom="[0,0,0,0]"
								data-paddingleft="[0,0,0,0]"

								style="z-index: 5;"></div>

							<!-- LAYER NR. 2 -->
							<div class="tp-caption   tp-resizeme rs-parallaxlevel-2"
								 id="slide-605-layer-1"
								 data-x="center" data-hoffset=""
								 data-y="bottom" data-voffset=""
											data-width="['none','none','none','none']"
								data-height="['none','none','none','none']"

								data-type="image"
								data-responsive_offset="on"

								data-frames='[{"delay":750,"speed":2000,"frame":"0","from":"y:500px;sX:1;sY:1;opacity:0;","to":"o:1;","ease":"Power4.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
								data-textAlign="['inherit','inherit','inherit','inherit']"
								data-paddingtop="[0,0,0,0]"
								data-paddingright="[0,0,0,0]"
								data-paddingbottom="[0,0,0,0]"
								data-paddingleft="[0,0,0,0]"

								style="z-index: 6;"><img src="include/rs-plugin/demos/assets/images/ramadan.jpg" alt="" data-ww="1600px" data-hh="1067px" data-no-retina> </div>

							<!-- LAYER NR. 3 -->
							<div class="tp-caption tp-shape tp-shapewrapper  tp-resizeme rs-parallaxlevel-2"
								 id="slide-605-layer-14"
								 data-x="-1099"
								 data-y="center" data-voffset=""
											data-width="['1000']"
								data-height="['1000']"

								data-type="shape"
								data-responsive_offset="on"

								data-frames='[{"delay":10,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
								data-textAlign="['inherit','inherit','inherit','inherit']"
								data-paddingtop="[0,0,0,0]"
								data-paddingright="[0,0,0,0]"
								data-paddingbottom="[0,0,0,0]"
								data-paddingleft="[0,0,0,0]"

								style="z-index: 7;background-color:rgb(255,255,255);"> </div>

							<!-- LAYER NR. 4 -->
							<div class="tp-caption tp-shape tp-shapewrapper  tp-resizeme rs-parallaxlevel-2"
								 id="slide-605-layer-13"
								 data-x="-100"
								 data-y="center" data-voffset=""
											data-width="['300']"
								data-height="['1000']"

								data-type="shape"
								data-responsive_offset="on"

								data-frames='[{"delay":10,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
								data-textAlign="['inherit','inherit','inherit','inherit']"
								data-paddingtop="[0,0,0,0]"
								data-paddingright="[0,0,0,0]"
								data-paddingbottom="[0,0,0,0]"
								data-paddingleft="[0,0,0,0]"

								style="z-index: 8;background:linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1.00) 0%, rgba(255,255,255,0.00) 100%, rgba(255,255,255,0) 100%);"> </div>

							<!-- LAYER NR. 5 -->
							<div class="tp-caption tp-shape tp-shapewrapper  tp-resizeme rs-parallaxlevel-2"
								 id="slide-605-layer-16"
								 data-x="right" data-hoffset="-1099"
								 data-y="center" data-voffset=""
											data-width="['1000']"
								data-height="['1000']"

								data-type="shape"
								data-responsive_offset="on"

								data-frames='[{"delay":10,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
								data-textAlign="['inherit','inherit','inherit','inherit']"
								data-paddingtop="[0,0,0,0]"
								data-paddingright="[0,0,0,0]"
								data-paddingbottom="[0,0,0,0]"
								data-paddingleft="[0,0,0,0]"

								style="z-index: 9;background-color:rgb(255,255,255);"> </div>

							<!-- LAYER NR. 6 -->
							<div class="tp-caption tp-shape tp-shapewrapper  tp-resizeme rs-parallaxlevel-2"
								 id="slide-605-layer-15"
								 data-x="right" data-hoffset="-100"
								 data-y="center" data-voffset=""
											data-width="['300']"
								data-height="['1000']"

								data-type="shape"
								data-responsive_offset="on"

								data-frames='[{"delay":10,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
								data-textAlign="['inherit','inherit','inherit','inherit']"
								data-paddingtop="[0,0,0,0]"
								data-paddingright="[0,0,0,0]"
								data-paddingbottom="[0,0,0,0]"
								data-paddingleft="[0,0,0,0]"

								style="z-index: 10;background:linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);"> </div>

							<!-- LAYER NR. 7 -->
							<div class="tp-caption   tp-resizeme rs-parallaxlevel-3"
								 id="slide-605-layer-4"
								 data-x="462"
								 data-y="355"
											data-width="['auto']"
								data-height="['auto']"

								data-type="text"
								data-responsive_offset="on"

								data-frames='[{"delay":1500,"speed":1000,"frame":"0","from":"x:-200px;opacity:0;","to":"o:1;","ease":"Power4.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
								data-textAlign="['inherit','inherit','inherit','inherit']"
								data-paddingtop="[0,0,0,0]"
								data-paddingright="[0,0,0,0]"
								data-paddingbottom="[0,0,0,0]"
								data-paddingleft="[0,0,0,0]"

								style="z-index: 11; white-space: nowrap; font-size: 160px; line-height: 160px; font-weight: 900; color: #FFF; text-shadow: 0 0px 30px rgba(0,0,0,0.07), 0 10px 14px rgba(0,0,0,0.2); letter-spacing: -10px;font-family:source sans pro;">KAREEM </div>

							<!-- LAYER NR. 8 -->
							<div class="tp-caption   tp-resizeme rs-parallaxlevel-4"
								 id="slide-605-layer-2"
								 data-x="462"
								 data-y="84"
											data-width="['none','none','none','none']"
								data-height="['none','none','none','none']"

								data-type="image"
								data-responsive_offset="on"

								data-frames='[{"delay":800,"speed":2000,"frame":"0","from":"x:left;y:0px;rZ:-30deg;opacity:1;","to":"o:1;","ease":"Power4.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
								data-textAlign="['inherit','inherit','inherit','inherit']"
								data-paddingtop="[0,0,0,0]"
								data-paddingright="[0,0,0,0]"
								data-paddingbottom="[0,0,0,0]"
								data-paddingleft="[0,0,0,0]"

								style="z-index: 12;"><img src="include/rs-plugin/demos/assets/images/sheep.png" alt="" data-ww="400px" data-hh="350px" data-no-retina> </div>

							<!-- LAYER NR. 9 -->
							<div class="tp-caption   tp-resizeme rs-parallaxlevel-5"
								 id="slide-605-layer-3"
								 data-x="116"
								 data-y="242"
											data-width="['auto']"
								data-height="['auto']"

								data-type="text"
								data-responsive_offset="on"

								data-frames='[{"delay":1300,"speed":1000,"frame":"0","from":"x:200px;opacity:0;","to":"o:1;","ease":"Power4.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
								data-textAlign="['inherit','inherit','inherit','inherit']"
								data-paddingtop="[0,0,0,0]"
								data-paddingright="[0,0,0,0]"
								data-paddingbottom="[0,0,0,0]"
								data-paddingleft="[0,0,0,0]"

								style="z-index: 13; white-space: nowrap; font-size: 160px; line-height: 160px; font-weight: 900; color: #FFF; text-shadow: 0 0px 30px rgba(0,0,0,0.07), 0 10px 14px rgba(0,0,0,0.2); letter-spacing: -10px;font-family:source sans pro;">RAMADAN </div>

							<!-- LAYER NR. 10 -->
							<div class="tp-caption   tp-resizeme rs-parallaxlevel-6"
								 id="slide-605-layer-6"
								 data-x="186"
								 data-y="169"
											data-width="['none','none','none','none']"
								data-height="['none','none','none','none']"

								data-type="image"
								data-responsive_offset="on"

								data-frames='[{"delay":1700,"speed":1000,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Back.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
								data-textAlign="['inherit','inherit','inherit','inherit']"
								data-paddingtop="[0,0,0,0]"
								data-paddingright="[0,0,0,0]"
								data-paddingbottom="[0,0,0,0]"
								data-paddingleft="[0,0,0,0]"

								style="z-index: 14;">
								<div class="rs-looped rs-rotate"  data-easing="Linear.easeNone" data-startdeg="0" data-enddeg="360" data-speed="30" data-origin="50% 50%"><img src="include/rs-plugin/demos/assets/images/deco2.png" alt="" data-ww="100px" data-hh="100px" data-no-retina> </div></div>

							<!-- LAYER NR. 11 -->
							<a href="#" data-toggle="modal" data-target="#contactFormModal" class="tp-caption tp-shape tp-shapewrapper  tp-resizeme rs-parallaxlevel-9"
								 id="slide-605-layer-7"
								 data-x="center" data-hoffset=""
								 data-y="bottom" data-voffset="70"
											data-width="['350']"
								data-height="['350']"

								data-type="shape"
								data-responsive_offset="on"
								data-easing="easeInOutExpo"
								data-speed="1250"
								data-offset="60"

								data-frames='[{"delay":2200,"speed":1000,"frame":"0","from":"y:bottom;","to":"o:1;","ease":"Power4.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"300","ease":"Power1.easeInOut","to":"o:1;sX:1.1;sY:1.1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgb(0,0,0);bs:solid;bw:0 0 0 0;"}]'
								data-textAlign="['inherit','inherit','inherit','inherit']"
								data-paddingtop="[0,0,0,0]"
								data-paddingright="[0,0,0,0]"
								data-paddingbottom="[0,0,0,0]"
								data-paddingleft="[0,0,0,0]"
								data-blendmode="hard-light"

								style="z-index: 15;background-color:rgb(180,0,17);border-color:rgba(0,0,0,0.5);border-radius:200px 200px 200px 200px;cursor:pointer;"> </a>

							<!-- LAYER NR. 12 -->
							<div class="tp-caption  tp-no-events   tp-resizeme rs-parallaxlevel-9"
								 id="slide-605-layer-9"
								 data-x="center" data-hoffset=""
								 data-y="620"
											data-width="['none','none','none','none']"
								data-height="['none','none','none','none']"

								data-type="image"
								data-responsive_offset="on"

								data-frames='[{"delay":2300,"speed":1500,"frame":"0","from":"z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
								data-textAlign="['inherit','inherit','inherit','inherit']"
								data-paddingtop="[0,0,0,0]"
								data-paddingright="[0,0,0,0]"
								data-paddingbottom="[0,0,0,0]"
								data-paddingleft="[0,0,0,0]"

								style="z-index: 16;pointer-events:none;"><img src="include/rs-plugin/demos/assets/images/gift.png" alt="" data-ww="80px" data-hh="80px" data-no-retina> </div>

							<!-- LAYER NR. 13 -->
							<div class="tp-caption  tp-no-events   tp-resizeme rs-parallaxlevel-9"
								 id="slide-605-layer-10"
								 data-x="center" data-hoffset=""
								 data-y="720"
											data-width="['auto']"
								data-height="['auto']"

								data-type="text"
								data-responsive_offset="on"

								data-frames='[{"delay":2400,"speed":1500,"frame":"0","from":"z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
								data-textAlign="['inherit','inherit','inherit','inherit']"
								data-paddingtop="[0,0,0,0]"
								data-paddingright="[0,0,0,0]"
								data-paddingbottom="[0,0,0,0]"
								data-paddingleft="[0,0,0,0]"

								style="z-index: 17; white-space: nowrap; font-size: 60px; line-height: 60px; font-weight: 900; color: #ffffff; letter-spacing: 0px;font-family:source sans pro;pointer-events:none;">خروف العيد </div>

							<!-- LAYER NR. 14 -->
							<div class="tp-caption  tp-no-events   tp-resizeme rs-parallaxlevel-9"
								 id="slide-605-layer-11"
								 data-x="center" data-hoffset=""
								 data-y="790"
											data-width="['auto']"
								data-height="['auto']"

								data-type="text"
								data-responsive_offset="on"

								data-frames='[{"delay":2500,"speed":1500,"frame":"0","from":"z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
								data-textAlign="['center','center','center','center']"
								data-paddingtop="[0,0,0,0]"
								data-paddingright="[0,0,0,0]"
								data-paddingbottom="[0,0,0,0]"
								data-paddingleft="[0,0,0,0]"

								style="z-index: 18; white-space: nowrap; font-size: 30px; line-height: 40px; font-weight: 300; color: #ffffff; letter-spacing: 5px;font-family:source sans pro;pointer-events:none;">اشترك الان<br/>بالسحب </div>

								<!-- LAYER NR. 15 -->
							<div class="tp-caption  tp-no-events   tp-resizeme rs-parallaxlevel-9"
								 id="slide-605-layer-15-1"
								 data-x="center" data-hoffset=""
								 data-y="875"
								data-width="['auto']"
								data-height="['auto']"

								data-type="text"
								data-responsive_offset="on"

								data-frames='[{"delay":3000,"speed":1500,"frame":"0","from":"z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
								data-textAlign="['center','center','center','center']"
								data-paddingtop="[0,0,0,0]"
								data-paddingright="[0,0,0,0]"
								data-paddingbottom="[0,0,0,0]"
								data-paddingleft="[0,0,0,0]"

								style="z-index: 21; font-size: 30px; color: #ffffff; pointer-events:none;"><i class="icon-line-arrow-down"></i> </div>

							<!-- LAYER NR. 16 -->
							<div class="tp-caption   tp-resizeme rs-parallaxlevel-11"
								 id="slide-605-layer-17"
								 data-x="717"
								 data-y="576"
											data-width="['none','none','none','none']"
								data-height="['none','none','none','none']"

								data-type="image"
								data-responsive_offset="on"

								data-frames='[{"delay":1900,"speed":1000,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Back.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
								data-textAlign="['inherit','inherit','inherit','inherit']"
								data-paddingtop="[0,0,0,0]"
								data-paddingright="[0,0,0,0]"
								data-paddingbottom="[0,0,0,0]"
								data-paddingleft="[0,0,0,0]"

								style="z-index: 19;">
								<div class="rs-looped rs-rotate"  data-easing="Linear.easeNone" data-startdeg="0" data-enddeg="-360" data-speed="30" data-origin="50% 50%"><img src="include/rs-plugin/demos/assets/images/deco3.png" alt="" data-ww="60px" data-hh="60px" data-no-retina> </div>
							</div>
						</li>
					</ul>
					<div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>
				</div>
			</div><!-- END REVOLUTION SLIDER -->

		</section>

		<!-- Content
		============================================= -->
		<section id="content" class="clearfix">
            <div class="content-wrap">

                <div id="section-pricing" class="heading-block title-center nobottomborder page-section">
                    <h2>مسابقة رمضان 2020</h2>
                    <span>برعاية حركة البناء الحضارية</span>
                    <img src="images/movement/logo.png" height="100px">
                </div>
                <div class="pricing-box pricing-extended bottommargin clearfix">

                    <div class="pricing-desc">
                        <div class="pricing-title">
                            <h3>تفاصيل المسابقة</h3>
                        </div>
                        <div class="pricing-features">
                            <ul class="iconlist-color clearfix">
                                <li><i class="icon-users1"></i> لكل بيت يمكن الاشتراك مرة واحدة</li>
                                <li><i class="icon-facebook"></i> متابعة على الفيسبوك</li>
                                <li><i class="icon-beaker"></i> كل يوم أحد تبدأ مسابقة جديدة</li>
                                <li><i class="icon-line-bar-graph"></i> النتائج في اخر الشهر</li>
                                <li><i class="icon-stopwatch1"></i> كل مسابقة تنتهي في اخر الاسبوع</li>
                                <li><i class="icon-map-marker1"></i> نتصل بك من خلال المعلومات المدخلة</li>
                            </ul>
                        </div>
                    </div>

                    <div class="pricing-action-area">
                        <div class="pricing-meta">
                            خروف
                        </div>
                        <div class="pricing-price">
                            <span class="price-unit"></span>1<span class="price-tenure">أسبوعيا</span>
                        </div>
                        <div class="pricing-action">
                            <a href="#" data-toggle="modal" data-target="#contactFormModal" class="button button-3d button-large btn-block nomargin">للاشتراك</a>
                        </div>
                    </div>

                </div>
				<div class="section footer-stick">

					<div class="container clearfix">

						<div id="section-buy" class="heading-block title-center nobottomborder page-section">
                            <h2>جائزة خروف العيد كل أسبوع, كل ما عليك هو الاجابة عن الأسئلة لفرصة التسجيل بالسحب</h2>
                            <span>تابعنا على مواقع التواصل الاجتماعي لمعرفة المزيد</span>
						</div>

						<div class="center">

                            <a href="https://www.facebook.com/%D9%82%D9%8A%D8%A7%D8%AF%D8%A9-%D9%82%D8%A7%D8%AF%D8%B1%D8%A9-%D8%AD%D8%B1%D9%83%D8%A9-%D8%A7%D9%84%D8%A8%D9%86%D8%A7%D8%A1-%D8%A7%D9%84%D8%AD%D8%B6%D8%A7%D8%B1%D9%8A%D8%A9-%D8%A7%D9%84%D8%B5%D9%81%D8%AD%D8%A9-%D8%A7%D9%84%D8%B1%D8%B3%D9%85%D9%8A%D8%A9-178817442315926/"
                             data-animate="tada" class="button button-3d button-teal button-xlarge nobottommargin not-animated"><i class="icon-facebook"></i></a>

						</div>

					</div>

				</div>

			</div>

        </section><!-- #content end -->
        
        		<!-- Modal Contact Form
		============================================= -->
		<div class="modal fade" id="contactFormModal" tabindex="-1" role="dialog" aria-labelledby="contactFormModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div dir="rtl" class="modal-header" style="text-align: right;">
						<h4 class="modal-title" id="contactFormModalLabel">شارك بالمسابقة</h4>
					</div>
					<div class="modal-body">
                        <div id="surveyhero-embed-f0645fbe"></div>
                        <script src="https://embed-cdn.surveyhero.com/js/user/embed.f0645fbe.js" async></script>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					</div>
				</div><!-- /.modal-content -->
			</div><!-- /.modal-dialog -->
		</div><!-- /.modal -->
		<!-- Modal Contact Form End -->


	</div><!-- #wrapper end -->

	<!-- Go To Top
	============================================= -->
	<div id="gotoTop" class="icon-angle-up"></div>

	<!-- External JavaScripts
	============================================= -->
	<script src="js/jquery.js"></script>
	<script src="js/plugins.js"></script>

	<!-- Footer Scripts
	============================================= -->
	<script src="js/functions.js"></script>

	<!-- SLIDER REVOLUTION 5.x SCRIPTS  -->
	<script src="include/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
	<script src="include/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
	<script src="include/rs-plugin/js/addons/revolution.addon.snow.min.js"></script>

	<script src="include/rs-plugin/js/addons/revolution.addon.bubblemorph.min.js"></script>

	<!-- SLIDER REVOLUTION EXTENSIONS  -->
	<script src="include/rs-plugin/js/extensions/revolution.extension.actions.min.js"></script>
	<script src="include/rs-plugin/js/extensions/revolution.extension.carousel.min.js"></script>
	<script src="include/rs-plugin/js/extensions/revolution.extension.kenburn.min.js"></script>
	<script src="include/rs-plugin/js/extensions/revolution.extension.layeranimation.min.js"></script>
	<script src="include/rs-plugin/js/extensions/revolution.extension.migration.min.js"></script>
	<script src="include/rs-plugin/js/extensions/revolution.extension.navigation.min.js"></script>
	<script src="include/rs-plugin/js/extensions/revolution.extension.parallax.min.js"></script>
	<script src="include/rs-plugin/js/extensions/revolution.extension.slideanims.min.js"></script>
	<script src="include/rs-plugin/js/extensions/revolution.extension.video.min.js"></script>

	<!-- ADD-ONS JS FILES -->
	<script>

		var revapi232,
		tpj;
		(function() {
			if (!/loaded|interactive|complete/.test(document.readyState)) document.addEventListener("DOMContentLoaded",onLoad); else onLoad();

			function onLoad() {
				if (tpj===undefined) { tpj = jQuery; if("off" == "on") tpj.noConflict();}
					if(tpj("#rev_slider_232_1").revolution == undefined){
						revslider_showDoubleJqueryError("#rev_slider_232_1");
					} else{
						revapi232 = tpj("#rev_slider_232_1").show().revolution({
							sliderType:"hero",
							jsFileLocation:"../include/rs-plugin/js/",
							sliderLayout:"fullwidth",
							dottedOverlay:"none",
							delay:9000,
							snow: {
								startSlide: "first",
								endSlide: "last",
								maxNum: "200",
								minSize: "0.1",
								maxSize: "5",
								minOpacity: "1",
								maxOpacity: "1",
								minSpeed: "100",
								maxSpeed: "200",
								minSinus: "1",
								maxSinus: "200",
							},
							navigation: {
							},
							visibilityLevels:[1240,1024,778,480],
							gridwidth:1240,
							gridheight:1000,
							lazyType:"none",
							parallax: {
								type:"mouse+scroll",
								origo:"slidercenter",
								speed:1000,
							  speedbg:0,
							  speedls:1000,
								levels:[2,4,6,8,10,12,14,16,-2,-4,-6,-8,-10,-12,-14,55],
							},
							shadow:0,
							spinner:"spinner3",
							autoHeight:"off",
							disableProgressBar:"on",
							hideThumbsOnMobile:"off",
							hideSliderAtLimit:0,
							hideCaptionAtLimit:0,
							hideAllCaptionAtLilmit:0,
							debugMode:false,
							fallbacks: {
								simplifyAll:"off",
								disableFocusListener:false,
							}
						});
					}; /* END OF revapi call */

					RsSnowAddOn(tpj, revapi232);

				if(typeof ExplodingLayersAddOn !== "undefined") ExplodingLayersAddOn(tpj, revapi232);
			}; /* END OF ON LOAD FUNCTION */
		}()); /* END OF WRAPPING FUNCTION */

	</script>

</body>
</html>