<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>

	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="author" content="SemiColonWeb" />

	<!-- Stylesheets
	============================================= -->
	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,400i,700|Raleway:300,400,500,600,700|Crete+Round:400i" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" href="css/bootstrap.css" type="text/css" />
	<link rel="stylesheet" href="style.css" type="text/css" />
	<link rel="stylesheet" href="css/dark.css" type="text/css" />
	<link rel="stylesheet" href="css/font-icons.css" type="text/css" />
	<link rel="stylesheet" href="css/animate.css" type="text/css" />
	<link rel="stylesheet" href="css/magnific-popup.css" type="text/css" />

	<link rel="stylesheet" href="css/responsive.css" type="text/css" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<!-- Document Title
	============================================= -->
	<title>Coming Soon | Canvas</title>

</head>

<body class="stretched">

	<!-- Document Wrapper
	============================================= -->
	<div id="wrapper" class="clearfix">

		<!-- Header
		============================================= -->
		<header id="header" class="no-sticky transparent-header dark">

			<div id="header-wrap">

				<div class="container clearfix">

					<!-- Logo
					============================================= -->
					<div id="logo">
						<a href="index.html" class="standard-logo" data-dark-logo="/images/movement/logo.png"><img src="/images/movement/logo.png" alt="Canvas Logo"></a>
					</div><!-- #logo end -->

					<div class="fright dark d-none d-lg-block clearfix" style="margin-top: 30px;">

                        <a href="https://www.facebook.com/%D9%82%D9%8A%D8%A7%D8%AF%D8%A9-%D9%82%D8%A7%D8%AF%D8%B1%D8%A9-%D8%AD%D8%B1%D9%83%D8%A9-%D8%A7%D9%84%D8%A8%D9%86%D8%A7%D8%A1-%D8%A7%D9%84%D8%AD%D8%B6%D8%A7%D8%B1%D9%8A%D8%A9-%D8%A7%D9%84%D8%B5%D9%81%D8%AD%D8%A9-%D8%A7%D9%84%D8%B1%D8%B3%D9%85%D9%8A%D8%A9-178817442315926/app/128953167177144/"
                         class="social-icon si-light si-facebook">
							<i class="icon-facebook"></i>
							<i class="icon-facebook"></i>
						</a>

					</div>

				</div>

			</div>

		</header><!-- #header end -->

		<section id="slider" class="slider-element full-screen dark" style="overflow: hidden;">

			<div class="container-fluid clearfix vertical-middle" style="z-index: 6;">

				<div class="heading-block title-center nobottomborder">
					<h1>مسابقة رمضان 2020</h1>
					<h2>برعاية حركة البناء الحضارية</h2>
					<h3>جائزة خروف العيد للرابح, كل ما عليك هو الاجابة عن الأسئلة لفرصة التسجيل بالسحب</h3>
				</div>

				<div id="countdown-ex1" class="countdown countdown-large coming-soon divcenter bottommargin" style="max-width:700px;"></div>

				<div class="divider divider-center divider-short divider-margin"><i class="icon-time"></i></div>

				<div class="widget-subscribe-form-result"></div>
				<form class="nobottommargin">
					<div class="input-group input-group-lg divcenter" style="max-width:600px;">
						<div class="input-group-prepend">
									</div>
						<div class="input-group-append">
							<a class="btn btn-info" data-toggle="modal" data-target="#contactFormModal" type="submit">اشترك الان</a>
						</div>
					</div>
				</form>

			</div>

			<div class="video-wrap">
				<video poster='images/videos/explore-poster.jpg' preload muted autoplay loop>
					<source src='images/videos/ramadan.mp4' type='video/mp4' />
				</video>
				<div class="video-overlay"></div>
			</div>

		</section>

		<!-- Modal Contact Form
		============================================= -->
		<div class="modal fade" id="contactFormModal" tabindex="-1" role="dialog" aria-labelledby="contactFormModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title" id="contactFormModalLabel">Send Us an Email</h4>
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					</div>
					<div class="modal-body">
                        <div id="surveyhero-embed-34ba4098"></div>
                        <script src="https://embed-cdn.surveyhero.com/js/user/embed.34ba4098.js" async></script>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					</div>
				</div><!-- /.modal-content -->
			</div><!-- /.modal-dialog -->
		</div><!-- /.modal -->
		<!-- Modal Contact Form End -->

	</div><!-- #wrapper end -->

	<!-- Go To Top
	============================================= -->
	<div id="gotoTop" class="icon-angle-up"></div>

	<!-- External JavaScripts
	============================================= -->
	<script src="js/jquery.js"></script>
	<script src="js/plugins.js"></script>

	<!-- Footer Scripts
	============================================= -->
	<script src="js/functions.js"></script>

	<script>
		jQuery(document).ready( function($){
			var newDate = new Date(2020, 4, 1);
			$('#countdown-ex1').countdown({until: newDate});
		});
	</script>

</body>
</html>