<% include partials/header %>

<link rel="stylesheet" href="/home.css" type="text/css" />
	<!-- Document Title
	============================================= -->
	<title>בניית עסקים באינטרנט - AlifAlif</title>

</head>
<body class="stretched rtl">

	<!-- Document Wrapper
	============================================= -->
	<div id="wrapper" class="clearfix">

		<!-- Header
		============================================= -->
		<header id="header" class="split-menu transparent-header dark" data-sticky-class="not-dark" data-responsive-class="not-dark">

			<div id="header-wrap">

				<div class="container clearfix">

					<div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

					<!-- Logo
					============================================= -->
					<div id="logo">
						<a href="/" class="standard-logo" data-dark-logo="/images/logo.png"><img class="p-1" src="/images/logo.png" alt="AlifAlif Logo"></a>
					</div><!-- #logo end -->

					<!-- Primary Navigation
					============================================= -->
					<nav id="primary-menu" class="with-arrows clearfix not-dark">

						<ul class="one-page-menu" data-easing="easeInOutExpo" data-speed="1250" data-offset="160">
							<li><a href="/" data-href="#wrapper"><div>ראשי</div></a></li>
							<li><a href="#section-pricing" data-href="#section-pricing"><div>הצעת מחיר</div></a></li>
						</ul>

						<ul class="one-page-menu" data-easing="easeInOutExpo" data-speed="1250" data-offset="160">
							<a href="tel:054-707-7590" class="button button-rounded fright leftmargin-sm">054-707-7590</a>
						</ul>

					</nav><!-- #primary-menu end -->

				</div>

			</div>

		</header><!-- #header end -->


		<!-- Content
		============================================= -->
		<section id="content">

			<div class="content-wrap">

				<div class="container clearfix">

					<div id="section-stunning-graphics" class="page-section topmargin bottommargin-lg">
						<div class="row clearfix">

							<div class="col-lg-5">
								<div class="topmargin-lg d-none d-lg-block"></div>
								<img src="/demos/app-landing/images/section/section-2-icon.png" alt="" style="display: block;" class="bottommargin-sm">
								<div class="emphasis-title bottommargin-sm">
									<span class="before-heading">אחמד עבאס &#x7E; פרילאנס</span>
									<h2 style="font-size: 42px;" class="font-body ls1 t400">אפליקציה חנות ווירטואלי</h2>
								</div>
								<p style="color: #777;" class="lead">תיאור לקוח: אפליקציה חנות למכירת מוצרים. הזמנות, קנייה ואיסוף מצד לקוח עם ניהול נתונים והוספת, עריכה, מחיקה למוצרים מצד אדמן.</p>
								<a href="#" class="section-more-link">למד עוד <i class="icon-angle-down"></i></a>
							</div>

							<div class="col-lg-7 center">
								<img src="/projects/main.webp" alt="Stunning Graphics" data-animate="fadeInRight">
							</div>

						</div>
					</div>

				</div>

				<div class="clear bottommargin"></div>

                <div class="pricing-box pricing-extended bottommargin clearfix" style="max-width: 1140px; margin: 0 auto;">

						<div class="pricing-desc">
							<div class="pricing-title">
								<h3>דרישות</h3>
							</div>
							<div class="pricing-features">
								<ul class="clearfix">
									<li>אפליקציה בגרסת Android ו- IOS</li>
									<li><span style="text-decoration: line-through;">8000</span> 6000 (חבר)</li>

									<li>מערכת ניהול מוצרים והזמנות לאדמן</li>
									<li>2000</li>

									<li>תשלום מאובטח בכרטיס אשראי</li>
									<li>1000</li>

									<li>מערכת חנות מקוון (סל קניות ומוצרים)</li>
									<li>1000</li>

									<li>שמירת נתונים מאובטח למוצרים והזמנות</li>
									<li>500</li>
								</ul>
								<div class="pricing-title mt-4">
									<h3>מה חסר:</h3>
								</div>
								<div class="pricing-features">
									<ul class="clearfix">
										<li>מערכת ניהול משתמשים</li>
										<li>1500</li>

									</ul>
								</div>

								<div class="pricing-title mt-4">
									<h3>מה כולל:</h3>
								</div>
								<div class="pricing-features">
									<ul class="clearfix">
										<li>העלאה ל Google Play ו Apple Store</li>
										<li><span style="text-decoration: line-through;">500 בשנה</span> כולל</li>

										<li>ממשק משתמש מהיר ומתיאם לסוג אפליקציה ומוצרים</li>
										<li>כולל</li>

										<li>חיפוש מוצרים לפי קטוגריות עם סידור לפי מחיר</li>
										<li>כולל</li>

										<li>חווית משתמש עם עותק ותוכן מופנה ללקוח</li>
										<li>כולל</li>

										<li>בדיקה ועדכון בעיות(אם יש) למשך 3 חודשים</li>
										<li>כולל</li>

										<li>אחסון נתונים ב-1GB</li>
										<li>כולל</li>
										
									</ul>
								</div>

							</div>
						</div>

						<div class="pricing-action-area">
							<div class="pricing-meta">
								מחיר של
							</div>
							<div class="pricing-price">
								10500<img src="/images/icons/shekel.svg" alt="shekel svg" width="20px"><span class="price-tenure">לא כולל מע"מ</span>
							</div>
							<div class="pricing-action">
								<a href="#" class="button button-3d button-xlarge btn-block nomargin">אישור הצעה</a>
							</div>
						</div>

				</div>

				<div id="section-gallery" class="page-section nopadding nomargin">

					<div class="container topmargin bottommargin-lg center clearfix">

						<h3 class="ls1 t400" style="font-size: 32px; margin-bottom: 10px;">תמונות אפליקציה</h3>
						<p class="lead divcenter" style="max-width: 600px">תמונות אלה הן דוגמה של העיצוב הראשוני של היישום ואינה משקפת את המוצר הסופי.</p>

					</div>

					<div class="owl-carousel owl-carousel-full image-carousel carousel-widget bottommargin" data-margin="20" data-center="true" data-loop="true" data-nav="false" data-pagi="true" data-items-xs="2" data-items-sm="2" data-items-md="4" data-items-lg="4" data-items-xl="6" data-stage-padding="30" data-lightbox="gallery">

						<div class="oc-item">
							<a data-lightbox="gallery-item" href="/projects/image (1).webp"><img src="/projects/image (1).webp" alt="Image 1"></a>
						</div>
						<div class="oc-item">
							<a data-lightbox="gallery-item" href="/projects/image (2).webp"><img src="/projects/image (2).webp" alt="Image 2"></a>
						</div>
						<div class="oc-item">
							<a data-lightbox="gallery-item" href="/projects/image (3).webp"><img src="/projects/image (3).webp" alt="Image 3"></a>
						</div>
						<div class="oc-item">
							<a data-lightbox="gallery-item" href="/projects/image (4).webp"><img src="/projects/image (4).webp" alt="Image 4"></a>
						</div>
						<div class="oc-item">
							<a data-lightbox="gallery-item" href="/projects/image (5).webp"><img src="/projects/image (5).webp" alt="Image 5"></a>
						</div>
					</div>

				</div>

				<div class="clear"></div>

					<div id="section-faqs" class="page-section nopadding nomargin">

						<h2 class="center font-body bottommargin-lg">שאלות נפוצות</h2>

						<div class="row topmargin-sm clearfix">

							<div class="col-lg-5 offset-lg-1 col-md-6 bottommargin-sm">
								<h4 class="font-body" style="margin-bottom:15px;">כמה זמן עד סיום האפליקציה?</h4>
								<p>יישום עם תכונות אלה, ייקח לפחות חודש, שבוע אחד של עיצוב ראשוני ואישר את התוכן המבוקש, שבועיים של קוד וחיבור הנתונים והשבוע הנותר לייצור סופי והבטחת שהכל יהיה מושלם.</p>
							</div>

							<div class="col-lg-5 col-md-6 bottommargin-sm">
								<h4 class="font-body" style="margin-bottom:15px;">האם יש אפשרות להוסיף עוד מאפיינים?</h4>
								<p>לאחר קבלת התכנון הראשון של היישום, בשבוע הראשון, הלקוח צריך לציין מה דרישות חסרה או לא צריך והחשבונית תעודכן בהתייחסות.
לאחר קבלת התכנון וסיום התוכן, כל תכונה שתוסיף תביא לחשבונית אחרת</p>
							</div>

							<div class="col-lg-5 offset-lg-1 col-md-6 bottommargin-sm">
								<h4 class="font-body" style="margin-bottom:15px;">איך לשלם על האפליקציה?</h4>
								<p>לאחר אישור ההצעה, יהיה צורך בתשלום ראשון של מינימום 30% על מנת לסיים את החוזה ולאחר פרסום הפרויקט ולהבטיח שהכל בסדר, התשלום הנותר אמור להימסר.</p>
							</div>
							<div class="col-lg-5 col-md-6 bottommargin-sm">
								<h4 class="font-body" style="margin-bottom:15px;">מה אמצעי התשלום שיהיו באפליקציה?</h4>
								<p>את אמצעי התשלום השונים שיהיו ביישום הם: כרטיס אשראי כמו ויזה / מאסטרקארד / אקספרס. שיטות אחרות כמו PayPal / Google Pay / Apple לשלם כלולים גם אם יש צורך.
כמובן כל התשלומים בטוחים ומאובטחים.
 משתמש בשירות לאבטחה תשלומים אז עשוי לחייב עבור כל הזמנה. אחוז קטן</p>
							</div>

						</div>
					</div>

				<div class="section center nobottommargin nobg">
					<div class="container clearfix">

						<h3 class="ls1 t400" style="font-size: 32px;">דוגמה ראשונית לאפליקציה</h3>
						<a href="#" data-scrollto="#section-pricing" data-easing="easeInOutExpo" data-speed="1250" data-offset="160" class="button button-large capitalize" style="border-radius: 23px;">הורדת דוגמה לאנדרואיד - 3 ימים</a>

						<div class="clear bottommargin"></div>

					</div>
				</div>

				<div class="section notopmargin footer-stick" style="padding: 10px 0; background-color: #F8FAFB; border-top: 1px solid #E5E5E5;">
					<div class="container clearfix">

						<div class="row clearfix">
							<div class="col-lg-4">
								<div class="app-footer-features"><i class="icon-line2-globe-alt"></i><h5 class="font-body"><a href="#">פרסום העסק</a><span> באינטרנט</span></h5></div>
							</div>
							<div class="col-lg-4">
								<div class="app-footer-features"><i class="icon-line2-notebook"></i><h5 class="font-body"><a href="#">24/7 </a><span> שירות לקוחות</span></h5></div>
							</div>
							<div class="col-lg-4">
								<div class="app-footer-features"><i class="icon-line2-lock"></i><h5 class="font-body"><span>לכל פרויקט</span> <a href="#">אבטחה</a> <span>&amp;</span> <a href="#">פרטיות</a></h5></div>
							</div>
						</div>

					</div>
				</div>

			</div>

		</section><!-- #content end -->

    <% include partials/footer %>
</body>
</html>