body{
    font-size: 20px;
    font-family: monospace;
    background: linear-gradient(90deg ,#906935, #CFAA74);
    background-image: url("/images/quiz/pattern.png"), linear-gradient(90deg ,#906935, #CFAA74);
    background-size: auto;
    overflow: hidden;
    color: white;
}

.moving_img {
    float: left;
    position: fixed;
    width: 50px;
    margin: 0;
    padding: 0;
}

.wrapper{
    position: absolute;
    display: table-cell ;
    align-items: center;
    vertical-align: bottom;
    text-align: center;
    height: 100vh;
    width: 100vw;
}

.wrapper img{
    object-fit: contain;
    max-height: 100%;
    max-width: 100%;
    margin: 0 auto;
    display: inline-block;
}


.container {
    width: 40%;
    height: 80%;
    position: absolute;
    left: 30%;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container #start, #quiz {
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
}

#start {
    justify-self: center;
    align-self: center;
	box-shadow: 0px 1px 0px 0px #fff6af;
	background:linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
	background-color:#ffec64;
	border-radius:6px;
	border:1px solid #ffaa22;
	display:inline-block;
	cursor:pointer;
	color:#333333;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
    text-shadow:0px 1px 0px #ffee66;
    
}
#start:hover {
	background:linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
	background-color:#ffab23;
}
#start:active {
	position:relative;
	top:1px;
}

#quiz {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

#question{
    right:0;
    top:0;
}
#question p{
    margin : 0;
    padding : 15px;
}

#choices{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.choice{
    margin: 10px;
    text-align: center;
    border : 1px solid #fdbb37;
    border-radius: 5px;
    cursor: pointer;
    padding : 5px;
}
.choice:hover{
    border : 2px solid #fdbb37;
    font-weight: bold;
}

#timer{
    position: absolute;
    height : 100px;
    width : 200px;
    bottom : 0px;
    text-align: center;
}

#counter{
    font-size: 3em;
}

#btimeGauge{
    width : 150px;
    height : 10px;
    border-radius: 10px;
    background-color: lightgray;
    margin-left : 25px;
}
#timeGauge{
    height : 10px;
    border-radius: 10px;
    background-color: mediumseagreen;
    margin-top : -10px;
    margin-left : 25px;
}
#progress{
    width : 500px;
    position: absolute;
    bottom : 0px;
    right : 0px;
    padding:5px;
    text-align: right;
}
.prog{
    width : 25px;
    height : 25px;
    border: 1px solid #000;
    display: inline-block;
    border-radius: 50%;
    margin-left : 5px;
    margin-right : 5px;
}
#scoreContainer{
    color: black;
    position: absolute;
    margin : 20px auto;
    background: linear-gradient(90deg ,#906935, #CFAA74);
    background-image: url("/images/quiz/pattern.png"), linear-gradient(45deg ,#906935, #CFAA74);
    background-size: auto;
    opacity: 0.8;
    height: 200px;
    width : 70vh;
    border-radius: 5px;
    box-shadow: 0px 5px 15px 0px;
    display: flex;

}
#scoreContainer img{
    position: absolute;
}
#scoreContainer p{
    position: absolute;
    display: block;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
}


@media (min-width : 640px) and (max-width : 860px) {

    .container {    
        width: 80%;
        height: 80%;
        left: 10%;
    }

}

@media (min-width : 860px) and (max-width : 1240px) {

    .container {    
        width: 75%;
        height: 70%;
        left: 12.5%;
    }

}

@media (max-width : 640px) {

    .wrapper{
        position: relative;
    }

    .moving_img {
        position: sticky;
    }

    .container {    
        width: 100%;
        height: 100%;
        left: 0%;
    }

    #counter{
        font-size: 2em;
        margin-bottom: 0;
    }
}