<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="/css/royalcss/royal.css">
  <link rel="stylesheet" type="text/css" href="/css/royalcss/clients.css">
  <script src="/js/jquery.js"></script>
</head>

<body>
  <div class="title">
    <h1> logs </h1>
  </div>
  <div class="table">
    <table>
      <tr>
        <td class="tnum"> מס' </td>
        <td class="tdataname"> תאריך ושעה </td>
        <td class="tdata"> פעולה </td>
      </tr>
      <% for(let i = logs.length - 1; i >= 0; i--) { %>
      <tr>
        <td class="tnum"> <%= logs.length - i %> </td>
        <td class="tdataname">
          <%= logs[i].time %>
        </td>
        <td class="tdata"> <%= logs[i].action %> </td>
      <% } %>
    </table>
  </div>

</body>
</html>