/* Please â¤ this and follow me if you like it! */




























:root {
	background: #FCFDFE;
	color: #121212;
	font-family: "-apple-system-font", "SF UI Text", "San Francisco Regular", "San Francisco", SanFranciscoText-Regular, ".SFNSText-Regular", ".SFNSText", BlinkMacSystemFont, ".HelveticaNeueDeskInterface-Regular", HelveticaNeue-Regular, "Helvetica Neue Regular", HelveticaNeue, "Helvetica Neue", "PT Sans", DevanagariSangamMN, Verdana, "MS Sans Serif", Helvetica, Tahoma, sans-serif;
	font-size: 1.125em;
	font-weight: 400;
	line-height: 1.6;
	font-smooth: always;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-ms-font-smoothing: antialiased;
	-o-font-smoothing: antialiased;
	font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-kerning: none;
	-moz-font-kerning: none;
	-ms-font-kerning: none;
	-o-font-kerning: none;
	font-kerning: none;
	-webkit-font-feature-settings: normal;
	-moz-font-feature-settings: normal;
	-ms-font-feature-settings: normal;
	-o-font-feature-settings: normal;
	font-feature-settings: normal;
	-webkit-font-variant-ligatures: none;
	-moz-font-variant-ligatures: none;
	-ms-font-variant-ligatures: none;
	-o-font-variant-ligatures: none;
	font-variant-ligatures: none;
	text-rendering: optimizeSpeed;

	-webkit-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-o-text-size-adjust: 100%;
	text-size-adjust: 100%;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;

	-webkit-tap-highlight-color: transparent;
	-moz-tap-highlight-color: transparent;
	-ms-tap-highlight-color: transparent;
	-o-tap-highlight-color: transparent;
	tap-highlight-color: transparent;

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;

	-webkit-user-drag: none;
	-moz-user-drag: none;
	-ms-user-drag: none;
	-o-user-drag: none;
	user-drag: none;
}

@media(-webkit-min-device-pixel-ratio:1.3), (min--moz-device-pixel-ratio:1.3), (-moz-min-device-pixel-ratio:1.3), (-ms-min-device-pixel-ratio:1.3), (-o-min-device-pixel-ratio:13/10), (min-device-pixel-ratio:1.3), (min-resolution:120dpi), (min-resolution:1.3dppx) {
	:root {
		-webkit-font-smoothing: subpixel-antialiased;
		-moz-font-smoothing: subpixel-antialiased;
		-ms-font-smoothing: subpixel-antialiased;
		-o-font-smoothing: subpixel-antialiased;
		font-smoothing: subpixel-antialiased;
	}
}

*, :before, :after {
	-webkit-box-sizing: inherit;
	-moz-box-sizing: inherit;
	-ms-box-sizing: inherit;
	-o-box-sizing: inherit;
	box-sizing: inherit;
}

:root, html, body, main {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 100%;
	overflow: hidden;

	-webkit-contain: strict;
	-moz-contain: strict;
	-ms-contain: strict;
	-o-contain: strict;
	contain: strict;
}

:root, html, body, img, svg, button {
	display: block;
}

body {
	font-size: 16px;
	font-size: 3vmin;
	margin: 0;
	cursor: -webkit-grab;
	cursor: -moz-grab;
	cursor: -ms-grab;
	cursor: -o-grab;
	cursor: grab;
}

.grabbing {
	cursor: -webkit-grabbing;
	cursor: -moz-grabbing;
	cursor: -ms-grabbing;
	cursor: -o-grabbing;
	cursor: grabbing;
}

@media(min-width:43.063em) and (min-height:43.063em) {
	body {
		font-size: 20.55px;
		font-size: 1.142em;
	}
}

h1 {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	font-family: inherit;
	font-size: 2.6em;
	font-weight: inherit;
	line-height: 1.3;
	text-align: center;
	width: 100%;
	height: 100%;
	margin: auto;
	padding: 1em;
}

svg {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 5em;
	height: 5em;
	margin: auto;
	overflow: visible;
	pointer-events: none;
}

button {
	position: absolute;
	z-index: 9;
	top: 0;
	right: 0;
	bottom: -26em;
	left: 0;
	background: #D4D4D4;
	color: #121212;
	font-family: inherit;
	font-size: inherit;
	font-weight: 700;
	line-height: 3em;

	-webkit-font-variant-ligatures: none;
	-moz-font-variant-ligatures: none;
	-ms-font-variant-ligatures: none;
	-o-font-variant-ligatures: none;
	font-variant-ligatures: none;
	text-align: center;
	text-rendering: optimizeSpeed;
	width: 10em;
	height: 3em;
	margin: auto;
	padding: 0;
	border: 0;

	-webkit-border-radius: .4em;
	-moz-border-radius: .4em;
	-ms-border-radius: .4em;
	-o-border-radius: .4em;
	border-radius: .4em;

	-webkit-transition: 200ms opacity;
	-moz-transition: 200ms opacity;
	-ms-transition: 200ms opacity;
	-o-transition: 200ms opacity;
	transition: 200ms opacity;

	cursor: pointer;

	-webkit-touch-action: manipulation;
	-moz-touch-action: manipulation;
	-ms-touch-action: manipulation;
	-o-touch-action: manipulation;
	touch-action: manipulation;

	-webkit-touch-action-delay: 0;
	-moz-touch-action-delay: 0;
	-ms-touch-action-delay: 0;
	-o-touch-action-delay: 0;
	touch-action-delay: 0;

	-webkit-will-change: opacity;
	-moz-will-change: opacity;
	-ms-will-change: opacity;
	-o-will-change: opacity;
	will-change: opacity;

	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
	appearance: none;
}

.hidden {
	-webkit-opacity: .00001;
	-moz-opacity: .00001;
	-ms-opacity: .00001;
	-o-opacity: .00001;
	opacity: .00001;

	pointer-events: none;
}

#shadow, #laptop, #spin360 {
	pointer-events: none;
}

#laptop-wrap, #spin360 {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;

	-webkit-transition: 300ms opacity;
	-moz-transition: 300ms opacity;
	-ms-transition: 300ms opacity;
	-o-transition: 300ms opacity;
	transition: 300ms opacity;

	-webkit-will-change: opacity;
	-moz-will-change: opacity;
	-ms-will-change: opacity;
	-o-will-change: opacity;
	will-change: opacity;

	-webkit-contain: strict;
	-moz-contain: strict;
	-ms-contain: strict;
	-o-contain: strict;
	contain: strict;
}

#shadow {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 19.445em;
	height: 12.5em;
	margin: auto;

	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
	transform-style: preserve-3d;

	-webkit-perspective: 350em;
	-moz-perspective: 350em;
	-ms-perspective: 350em;
	-o-perspective: 350em;
	perspective: 350em;

	-webkit-perspective-origin: 50% 50%;
	-moz-perspective-origin: 50% 50%;
	-ms-perspective-origin: 50% 50%;
	-o-perspective-origin: 50% 50%;
	perspective-origin: 50% 50%;

	-webkit-will-change: transform;
	-moz-will-change: transform;
	-ms-will-change: transform;
	-o-will-change: transform;
	will-change: transform;

	-webkit-contain: layout;
	-moz-contain: layout;
	-ms-contain: layout;
	-o-contain: layout;
	contain: layout;
}

#shadow {
	display: none;
}

#laptop {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 19.445em;
	height: 25em;
	margin: auto;

	-webkit-transform: rotateX(-7deg) rotateY(27deg);
	-moz-transform: rotateX(-7deg) rotateY(27deg);
	-ms-transform: rotateX(-7deg) rotateY(27deg);
	-o-transform: rotateX(-7deg) rotateY(27deg);
	transform: rotateX(-7deg) rotateY(27deg);

/*
	-webkit-transform-origin: 9.7225em 12.5em 6.25em;
	-moz-transform-origin: 9.7225em 12.5em 6.25em;
	-ms-transform-origin: 9.7225em 12.5em 6.25em;
	-o-transform-origin: 9.7225em 12.5em 6.25em;
	transform-origin: 9.7225em 12.5em 6.25em;

	-webkit-transform-origin: 50% 66.66667% 4.86125em;
	-moz-transform-origin: 50% 66.66667% 4.86125em;
	-ms-transform-origin: 50% 66.66667% 4.86125em;
	-o-transform-origin: 50% 66.66667% 4.86125em;
	transform-origin: 50% 66.66667% 4.86125em;

	-webkit-transform-origin: 50% 50% 6.25em;
	-moz-transform-origin: 50% 50% 6.25em;
	-ms-transform-origin: 50% 50% 6.25em;
	-o-transform-origin: 50% 50% 6.25em;
	transform-origin: 50% 50% 6.25em;
*/

	-webkit-transform-origin: 50% 50% 4.42234375em;
	-moz-transform-origin: 50% 50% 4.42234375em;
	-ms-transform-origin: 50% 50% 4.42234375em;
	-o-transform-origin: 50% 50% 4.42234375em;
	transform-origin: 50% 50% 4.42234375em;

	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
	transform-style: preserve-3d;

	-webkit-perspective: 350em;
	-moz-perspective: 350em;
	-ms-perspective: 350em;
	-o-perspective: 350em;
	perspective: 350em;

	-webkit-perspective-origin: 50% 50%;
	-moz-perspective-origin: 50% 50%;
	-ms-perspective-origin: 50% 50%;
	-o-perspective-origin: 50% 50%;
	perspective-origin: 50% 50%;

/*
	-webkit-transition: 300ms transform-origin;
	-moz-transition: 300ms transform-origin;
	-ms-transition: 300ms transform-origin;
	-o-transition: 300ms transform-origin;
	transition: 300ms transform-origin;
*/

	-webkit-will-change: transform;
	-moz-will-change: transform;
	-ms-will-change: transform;
	-o-will-change: transform;
	will-change: transform;

	-webkit-contain: layout;
	-moz-contain: layout;
	-ms-contain: layout;
	-o-contain: layout;
	contain: layout;
}

/*
#laptop.open {
	-webkit-transform-origin: 50% 50% 6.25em;
	-moz-transform-origin: 50% 50% 6.25em;
	-ms-transform-origin: 50% 50% 6.25em;
	-o-transform-origin: 50% 50% 6.25em;
	transform-origin: 50% 50% 6.25em;
}
*/

.surface {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 19.445em;
	height: 12.5em;
	outline: .056em solid transparent;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-contain: layout;
	-moz-contain: layout;
	-ms-contain: layout;
	-o-contain: layout;
	contain: layout;
}

.face {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: #ECECEC;
	width: 19.445em;
	height: 12.5em;
	outline: .056em solid transparent;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-contain: strict;
	-moz-contain: strict;
	-ms-contain: strict;
	-o-contain: strict;
	contain: strict;
}

.side {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: #D4D4D4;
	outline: .056em solid transparent;
	pointer-events: none;
	-webkit-contain: strict;
	-moz-contain: strict;
	-ms-contain: strict;
	-o-contain: strict;
	contain: strict;
}

#bottom-west {
	right: auto;
	width: .3em;
	height: 12.5em;
	-webkit-transform: rotateY(90deg);
	-moz-transform: rotateY(90deg);
	-ms-transform: rotateY(90deg);
	-o-transform: rotateY(90deg);
	transform: rotateY(90deg);
	-webkit-transform-origin: 0 0;
	-moz-transform-origin: 0 0;
	-ms-transform-origin: 0 0;
	-o-transform-origin: 0 0;
	transform-origin: 0 0;
}

#bottom-east {
	left: auto;
	width: .3em;
	height: 12.5em;
	-webkit-transform: rotateY(-90deg);
	-moz-transform: rotateY(-90deg);
	-ms-transform: rotateY(-90deg);
	-o-transform: rotateY(-90deg);
	transform: rotateY(-90deg);
	-webkit-transform-origin: 100% 0;
	-moz-transform-origin: 100% 0;
	-ms-transform-origin: 100% 0;
	-o-transform-origin: 100% 0;
	transform-origin: 100% 0;
}

#bottom-north {
	bottom: auto;
	width: 19.445em;
	height: .3em;
	-webkit-transform: rotateX(-90deg);
	-moz-transform: rotateX(-90deg);
	-ms-transform: rotateX(-90deg);
	-o-transform: rotateX(-90deg);
	transform: rotateX(-90deg);
	-webkit-transform-origin: 0 0;
	-moz-transform-origin: 0 0;
	-ms-transform-origin: 0 0;
	-o-transform-origin: 0 0;
	transform-origin: 0 0;
}

#bottom-south {
	top: auto;
	width: 19.445em;
	height: .3em;
	-webkit-transform: rotateX(90deg);
	-moz-transform: rotateX(90deg);
	-ms-transform: rotateX(90deg);
	-o-transform: rotateX(90deg);
	transform: rotateX(90deg);
	-webkit-transform-origin: 0 100%;
	-moz-transform-origin: 0 100%;
	-ms-transform-origin: 0 100%;
	-o-transform-origin: 0 100%;
	transform-origin: 0 100%;
}

#bottom-inside {
	background: #ECECEC 50% 50% no-repeat url(https://static2.pickjb.com/assets/images/business-card-bottom-inside@1x.png);
	-webkit-background-size: 18.278em auto;
	-moz-background-size: 18.278em auto;
	-ms-background-size: 18.278em auto;
	-o-background-size: 18.278em auto;
	background-size: 18.278em auto;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	-o-backface-visibility: hidden;
	backface-visibility: hidden;
}

#bottom-outside {
	background: #ECECEC 50% 50% no-repeat url(https://static2.pickjb.com/assets/images/business-card-bottom-outside@1x.png);
	-webkit-background-size: 18.278em auto;
	-moz-background-size: 18.278em auto;
	-ms-background-size: 18.278em auto;
	-o-background-size: 18.278em auto;
	background-size: 18.278em auto;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	-o-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform: rotateY(180deg) translateZ(.3em);
	-moz-transform: rotateY(180deg) translateZ(.3em);
	-ms-transform: rotateY(180deg) translateZ(.3em);
	-o-transform: rotateY(180deg) translateZ(.3em);
	transform: rotateY(180deg) translateZ(.3em);
}

#bottom {
	top: 12.5em;
/*
	-webkit-transform: rotateX(45deg) translateZ(12.5em);
	-moz-transform: rotateX(45deg) translateZ(12.5em);
	-ms-transform: rotateX(45deg) translateZ(12.5em);
	-o-transform: rotateX(45deg) translateZ(12.5em);
	transform: rotateX(45deg) translateZ(12.5em);
	-webkit-transform-origin: 0 0 12.5em;
	-moz-transform-origin: 0 0 12.5em;
	-ms-transform-origin: 0 0 12.5em;
	-o-transform-origin: 0 0 12.5em;
	transform-origin: 0 0 12.5em;
*/
	-webkit-transform: rotateX(45deg);
	-moz-transform: rotateX(45deg);
	-ms-transform: rotateX(45deg);
	-o-transform: rotateX(45deg);
	transform: rotateX(45deg);
/*
	-webkit-transform: rotateX(90deg);
	-moz-transform: rotateX(90deg);
	-ms-transform: rotateX(90deg);
	-o-transform: rotateX(90deg);
	transform: rotateX(90deg);
*/
	-webkit-transform-origin: 0 0;
	-moz-transform-origin: 0 0;
	-ms-transform-origin: 0 0;
	-o-transform-origin: 0 0;
	transform-origin: 0 0;
}

#top {
	bottom: 12.5em;
/*
	-webkit-transform: rotateX(-135deg) translateZ(12.5em);
	-moz-transform: rotateX(-135deg) translateZ(12.5em);
	-ms-transform: rotateX(-135deg) translateZ(12.5em);
	-o-transform: rotateX(-135deg) translateZ(12.5em);
	transform: rotateX(-135deg) translateZ(12.5em);
	-webkit-transform-origin: 0 12.5em 12.5em;
	-moz-transform-origin: 0 12.5em 12.5em;
	-ms-transform-origin: 0 12.5em 12.5em;
	-o-transform-origin: 0 12.5em 12.5em;
	transform-origin: 0 12.5em 12.5em;

	-webkit-transform: rotateX(-90deg);
	-moz-transform: rotateX(-90deg);
	-ms-transform: rotateX(-90deg);
	-o-transform: rotateX(-90deg);
	transform: rotateX(-90deg);
*/
	-webkit-transform: rotateX(-135deg);
	-moz-transform: rotateX(-135deg);
	-ms-transform: rotateX(-135deg);
	-o-transform: rotateX(-135deg);
	transform: rotateX(-135deg);

	-webkit-transform-origin: 0 12.5em;
	-moz-transform-origin: 0 12.5em;
	-ms-transform-origin: 0 12.5em;
	-o-transform-origin: 0 12.5em;
	transform-origin: 0 12.5em;

	-webkit-transition-timing-function: cubic-bezier(0.11, 0.33, 0.33, 1);
	-moz-transition-timing-function: cubic-bezier(0.11, 0.33, 0.33, 1);
	-ms-transition-timing-function: cubic-bezier(0.11, 0.33, 0.33, 1);
	-o-transition-timing-function: cubic-bezier(0.11, 0.33, 0.33, 1);
	transition-timing-function: cubic-bezier(0.11, 0.33, 0.33, 1);
}

.open>#top {
/*
	-webkit-transform: rotateX(-45deg) translateZ(12.5em);
	-moz-transform: rotateX(-45deg) translateZ(12.5em);
	-ms-transform: rotateX(-45deg) translateZ(12.5em);
	-o-transform: rotateX(-45deg) translateZ(12.5em);
	transform: rotateX(-45deg) translateZ(12.5em);
*/
	-webkit-transform: rotateX(-45deg);
	-moz-transform: rotateX(-45deg);
	-ms-transform: rotateX(-45deg);
	-o-transform: rotateX(-45deg);
	transform: rotateX(-45deg);
/*
	-webkit-transform: rotateX(0deg);
	-moz-transform: rotateX(0deg);
	-ms-transform: rotateX(0deg);
	-o-transform: rotateX(0deg);
	transform: rotateX(0deg);
*/
	/* Fallback in case browser doesn't support greater-than 1 cubic-bezier() curves. */
	-webkit-transition-timing-function: cubic-bezier(0.11, 0.33, 0.33, 1);
	-moz-transition-timing-function: cubic-bezier(0.11, 0.33, 0.33, 1);
	-ms-transition-timing-function: cubic-bezier(0.11, 0.33, 0.33, 1);
	-o-transition-timing-function: cubic-bezier(0.11, 0.33, 0.33, 1);
	transition-timing-function: cubic-bezier(0.11, 0.33, 0.33, 1);

	-webkit-transition-timing-function: cubic-bezier(0.11, 0.33, 0.33, 2);
	-moz-transition-timing-function: cubic-bezier(0.11, 0.33, 0.33, 2);
	-ms-transition-timing-function: cubic-bezier(0.11, 0.33, 0.33, 2);
	-o-transition-timing-function: cubic-bezier(0.11, 0.33, 0.33, 2);
	transition-timing-function: cubic-bezier(0.11, 0.33, 0.33, 2);
}

#top-outside {
	-webkit-transform: translateZ(-1px);
	-moz-transform: translateZ(-1px);
	-ms-transform: translateZ(-1px);
	-o-transform: translateZ(-1px);
	transform: translateZ(-1px);
}

#top-inside {
	background: #121212 0 0 no-repeat url(https://static.pickjb.com/assets/images/business-card-top-inside@1x.jpg);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-ms-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	-o-backface-visibility: hidden;
	backface-visibility: hidden;
}

#top-outside>img {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 3.803em;
	height: 3.578em;
	margin: auto;
	-webkit-transform: scaleY(-1);
	-moz-transform: scaleY(-1);
	-ms-transform: scaleY(-1);
	-o-transform: scaleY(-1);
	transform: scaleY(-1);
	pointer-events: none;
	-webkit-contain: strict;
	-moz-contain: strict;
	-ms-contain: strict;
	-o-contain: strict;
	contain: strict;
}

@media(-webkit-min-device-pixel-ratio:1.3), (min--moz-device-pixel-ratio:1.3), (-moz-min-device-pixel-ratio:1.3), (-ms-min-device-pixel-ratio:1.3), (-o-min-device-pixel-ratio:13/10), (min-device-pixel-ratio:1.3), (min-resolution:120dpi), (min-resolution:1.3dppx) {
	#top-inside {
		background-image: url(https://static.pickjb.com/assets/images/business-card-top-inside@2x.jpg);
	}
	#bottom-inside {
		background-image: url(https://static2.pickjb.com/assets/images/business-card-bottom-inside@2x.png);
	}
	#bottom-outside {
		background-image: url(https://static2.pickjb.com/assets/images/business-card-bottom-outside@2x.png);
	}
}

@media(-webkit-min-device-pixel-ratio:2.6), (min--moz-device-pixel-ratio:2.6), (-moz-min-device-pixel-ratio:2.6), (-ms-min-device-pixel-ratio:2.6), (-o-min-device-pixel-ratio:26/10), (min-device-pixel-ratio:2.6), (min-resolution:240dpi), (min-resolution:2.6dppx) {
	#top-inside {
		background-image: url(https://static.pickjb.com/assets/images/business-card-top-inside@3x.jpg);
	}
	#bottom-inside {
		background-image: url(https://static2.pickjb.com/assets/images/business-card-bottom-inside@3x.png);
	}
	#bottom-outside {
		background-image: url(https://static2.pickjb.com/assets/images/business-card-bottom-outside@3x.png);
	}
}

:focus {
	outline: 0;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-ms-box-shadow: none;
	-o-box-shadow: none;
	box-shadow: none;
}

::-moz-focus-inner {
	border-style: none;
	outline: 0;
}

:-moz-focusring {
	outline: 0;
}