<% include ../partials/header %>

	<link rel="stylesheet" href="/css/dark.css" type="text/css" />
	<link rel="stylesheet" href="/css/dark-rtl.css" type="text/css" />
	<link rel="stylesheet" href="/css/swiper.css" type="text/css" />

	<!-- Business Demo Specific Stylesheet -->
	<link rel="stylesheet" href="/demos/business/business.css" type="text/css" />
	<link rel="stylesheet" href="/demos/business/css/fonts.css" type="text/css" />
	<!-- / -->

	<link rel="stylesheet" href="/one-page/css/et-line.css" type="text/css" />

	<!-- Theme Color
	============================================= -->
	<link rel="stylesheet" href="/demos/business/css/colors.css" type="text/css" />

	<!-- Document Title
	============================================= -->
	<title>שירות עסק | בניית אתר</title>

</head>

<body class="stretched rtl">

	<!-- Document Wrapper
	============================================= -->
	<div id="wrapper" class="clearfix">

		<!-- Header
		============================================= -->
		<header id="header" class="transparent-header dark full-header" data-sticky-class="not-dark" data-responsive-class="not-dark" data-sticky-offset="full">

			<div id="header-wrap">

				<div class="container clearfix">

					<div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

					<!-- Logo
					============================================= -->
					<div id="logo">
						<a href="index.html" class="standard-logo" data-dark-logo="/images/logo.png"><img class="p-2" src="/images/logo.png" alt="AlifAlif Logo"></a>
					</div><!-- #logo end -->

					<!-- Primary Navigation
					============================================= -->
					<nav id="primary-menu" class="not-dark">

						<ul>
							<li class="active"><a href="#"><div>ראשי</div></a></li>
							<li><a href="#"><div>מאפיינים</div></a>
								<ul>
									<li><a href="#"><div>מסגרת הבאה</div></a></li>
									<li><a href="#"><div>גרפיקה מדהימה</div></a></li>
									<li><a href="#"><div>פתרונות מאובטחות</div></a></li>
								</ul>
							</li>
							<li><a href="#"><div>מחירים</div></a></li>
							<li><a href="#"><div>שאלות נפוצות</div></a></li>
							<li><a href="#"><div>גלריה</div></a></li>
						</ul>

						<!-- Top Search
						============================================= -->
						<div id="top-search">
							<a href="#" id="top-search-trigger"><i class="icon-search3"></i><i class="icon-line-cross"></i></a>
							<form action="search.html" method="get">
								<input type="text" name="q" class="form-control" value="" placeholder="Type &amp; Hit Enter..">
							</form>
						</div><!-- #top-search end -->

					</nav><!-- #primary-menu end -->

				</div>

			</div>

		</header><!-- #header end -->

		<!-- Slider
		============================================= -->
		<section id="slider" class="slider-element slider-parallax swiper_wrapper full-screen clearfix" data-loop="true">

			<div class="slider-parallax-inner">
				<div class="swiper-container swiper-parent">
					<div class="swiper-wrapper">
						<div class="swiper-slide dark" style="background-image: url('/demos/business/images/slider/1.jpg'); background-size: cover">
							<div class="container clearfix">
								<div class="slider-caption slider-caption-center">
									<h2 class="font-primary nott">עבודה יצירתית</h2>
									<p class="t300 font-primary d-none d-sm-block">לתקשר במהירות שיטות מומלצות דימום.</p>
									<a href="#" class="button button-rounded button-large nott ls0 font-primary">תתחיל עכשיו</a>
								</div>
							</div>
						</div>
						<div class="swiper-slide dark" style="background-image: url('/demos/business/images/slider/2.jpg'); background-size: cover">
							<div class="container clearfix">
								<div class="slider-caption slider-caption-center">
									<h2 class="font-primary">מראה מדהים.</h2>
									<p class="t300 font-primary d-none d-sm-block">ללא צורך בהנדסה סינרגיה יעילה לאחר חוויות העסק האלקטרוני.</p>
									<a href="#" class="button button-rounded button-large nott ls0 font-primary">תתחיל עכשיו</a>
								</div>
							</div>
						</div>
						<div class="swiper-slide dark" style="background-image: url('/demos/business/images/slider/3.jpg'); background-size: cover">
							<div class="container clearfix">
								<div class="slider-caption slider-caption-center">
									<h2 class="font-primary">עבודות גמישות.</h2>
									<p class="t300 font-primary d-none d-sm-block">דוגרים לחלוטין משתמשים ברחבי העולם לפני ציוויים.</p>
									<a href="#" class="button button-rounded button-large nott ls0 font-primary">תתחיל עכשיו</a>
								</div>
							</div>
						</div>
					</div>
					<!-- Slider Arrows
					============================================= -->
					<div class="slider-arrow-left" class="nobg"><i class="icon-line-arrow-left"></i></div>
					<div class="slider-arrow-right" class="nobg"><i class="icon-line-arrow-right"></i></div>
				</div>

				<!-- Slider Mouse Icon
				============================================= -->
				<a href="#" data-scrollto="#content" data-offset="0" class="dark one-page-arrow"><img class="infinite animated fadeInDown" src="/demos/business/images/mouse.svg" alt="" ></a>
			</div>

		</section>

		<!-- Content
		============================================= -->
		<section id="content">

			<div class="content-wrap nobottompadding" style="z-index: 1;">

				<div class="container topmargin clearfix">

					<!-- What We Do
					============================================= -->
					<div class="heading-block center noborder" data-heading="W">
						<h3>מה אנחנו עושים</h3>
					</div>
					<div class="row clearfix">
						<div class="center col-lg-8 offset-lg-2 bottommargin">
							<h3 class="text-rotater font-secondary" data-separator="," data-rotate="fadeInRight" data-speed="3500">אלף אלף זה מביאה לך פתרונות שונים להשגת לקוחות, בנוח, המוצר שלך ימכור בקלות בהאתר שלך <span class="t-rotate color">עסקים, חברות, רפואי, נסיעות, בנייה, נדל"ן, סוכנות מדיה, תיק, מסעדה, מגזין, חתונה, חג המולד, בלוג</span><br> כל מה שאתה צריך להיות מפורסם</h3>
						</div>

						<div class="clear"></div>

						<!-- Features colomns
						============================================= -->
						<div class="row clearfix">
							<div class="col-lg-4 bottommargin-sm">
								<div class="feature-box media-box fbox-bg">
									<div class="fbox-media">
										<a href="#"><img class="image_fade" src="/demos/business/images/featured/1.jpg" alt="Featured Box Image"></a>
									</div>
									<div class="fbox-desc">
										<h3 class="nott ls0 t600">תצוגה נאותה רשתית<span class="subtitle font-secondary t300 ls0">Globally parallel task premium infomediaries</span></h3>
										<a href="#" class="button-link noborder color">Read More</a>
									</div>
								</div>
							</div>

							<div class="col-lg-4 bottommargin-sm">
								<div class="feature-box media-box fbox-bg">
									<div class="fbox-media">
										<a href="#"><img class="image_fade" src="/demos/business/images/featured/2.jpg" alt="Featured Box Image"></a>
									</div>
									<div class="fbox-desc">
										<h3 class="nott ls0 t600">עיצוב אולטרה<span class="subtitle font-secondary t300 ls0">Energistically visualize market-driven.</span></h3>
										<a href="#" class="button-link noborder color">Read More</a>
									</div>
								</div>
							</div>

							<div class="col-lg-4 bottommargin-sm">
								<div class="feature-box media-box fbox-bg">
									<div class="fbox-media">
										<a href="#"><img class="image_fade" src="/demos/business/images/featured/3.jpg" alt="Featured Box Image"></a>
									</div>
									<div class="fbox-desc">
										<h3 class="nott ls0 t600">מאות של דוגמאות<span class="subtitle font-secondary t300 ls0">Enthusiastically iterate enabled portals after.</span></h3>
										<a href="#" class="button-link noborder color">Read More</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<!-- How We Work
				============================================= -->
				<div class="section nobg clearfix">
					<div class="container clearfix">
						<div class="heading-block bottommargin-lg center noborder" data-heading="W">
							<h3 class="nott ls0">איך אנחנו עובדים</h3>
						</div>
					</div>

					<!-- How We Work - Carousel
					============================================= -->
					<div id="oc-features" class="owl-carousel owl-carousel-full image-carousel carousel-widget">
						<div class="oc-item">
							<div class="row cleafix">
								<div class="col-xl-8">
									<img src="/demos/business/images/carousel/1.jpg" alt="">
								</div>
								<div class="col-xl-4" style="padding: 20px 0 0 20px;">
									<h3>קשר עם לקוחות.</h3>
									<p>Uniquely plagiarize dynamic convergence after equity invested experiences. Holisticly repurpose installed base infomediaries before web-enabled methods of empowerment.</p>
									<a href="#" class="button-link">Read More</a>
								</div>
							</div>
						</div>
						<div class="oc-item">
							<div class="row cleafix">
								<div class="col-xl-8">
									<img src="/demos/business/images/carousel/2.jpg" alt="">
								</div>
								<div class="col-xl-4" style="padding: 20px 0 0 20px;">
									<h3>קריירה בלקוחות פוטנציאליים.</h3>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor mollitia dignissimos, assumenda consequuntur consectetur! Laborum reiciendis, accusamus possimus et similique nisi obcaecati ex doloremque ea odio.</p>
									<a href="#" class="button-link">Read More</a>
								</div>
							</div>
						</div>
						<div class="oc-item">
							<div class="row cleafix">
								<div class="col-xl-8">
									<img src="/demos/business/images/carousel/3.jpg" alt="">
								</div>
								<div class="col-xl-4" style="padding: 20px 0 0 20px;">
									<h3>מרחב עבודה יפה.</h3>
									<p>Dolor mollitia dignissimos, assumenda consequuntur consectetur! Laborum reiciendis, error explicabo consectetur adipisci, accusamus possimus et similique nisi obcaecati ex doloremque ea odio.</p>
									<a href="#" class="button-link">Read More</a>
								</div>
							</div>
						</div>
					</div>
				</div>

				<!-- About Us
				============================================= -->
				<div class="section nopadding notopmargin nobg clearfix" style="border-top: 1px solid #EEE; border-bottom: 1px solid #EEE;">
					<div class="row align-items-stretch clearfix">
						<div class="col-lg-6 center col-padding" style="background: url('/demos/business/images/sections/1.jpg') center center no-repeat; background-size: cover;">
							<div>&nbsp;</div>
						</div>

						<div class="col-lg-6 col-padding">
							<div>
								<div style="position: relative;">
									<div class="heading-block noborder" data-heading="A">
										<h3 class="nott ls0">עלינו</h3>
									</div>
								</div>

								<!-- About Us Featured Boxes
								============================================= -->
								<div class="row clearfix">
									<div class="col-lg-10 col-md-8 bottommargin">
										<div class="feature-box fbox-plain">
											<div class="fbox-icon">
												<a href="#"><i class="icon-et-globe"></i></a>
											</div>
											<h3>בכל העולם</h3>
											<p>Powerful Layout with Responsive functionality that can be adapted to any screen size. Resize browser to view.</p>
										</div>
									</div>
									<div class="col-lg-10 col-md-8 bottommargin">
										<div class="feature-box fbox-plain">
											<div class="fbox-icon">
												<a href="#"><i class="icon-et-gears"></i></a>
											</div>
											<h3>להתאמה אישית מלאה</h3>
											<p>Powerful Layout with Responsive functionality that can be adapted to any screen size. Resize browser to view.</p>
										</div>
									</div>
									<div class="col-lg-10 col-md-8">
										<div class="feature-box fbox-plain">
											<div class="fbox-icon">
												<a href="#"><i class="icon-et-document"></i></a>
											</div>
											<h3>תיעוד מלא</h3>
											<p>Powerful Layout with Responsive functionality that can be adapted to any screen size. Resize browser to view.</p>
										</div>
									</div>
								</div>
							</div>
						</div>

					</div>
				</div>

				<!-- Our Works
				============================================= -->
				<div class="section nobg nobottommargin clearfix">
					<div class="container clearfix">
						<div class="heading-block center noborder" data-heading="O">
							<h3 class="nott ls0">העבודות שלנו</h3>
						</div>

						<!-- Portfolio Filter
						============================================= -->
						<ul class="portfolio-filter style-2 center clearfix" data-container="#portfolio">

							<li class="activeFilter"><a href="#" data-filter="*">הצג הכול</a></li>
							<li><a href="#" data-filter=".pf-icons">סמלים</a></li>
							<li><a href="#" data-filter=".pf-illustrations">איורים</a></li>
							<li><a href="#" data-filter=".pf-uielements">אלמנטים של ממשק משתמש</a></li>
							<li><a href="#" data-filter=".pf-media">מדיה</a></li>
							<li><a href="#" data-filter=".pf-graphics">גרפיקה</a></li>

						</ul><!-- #portfolio-filter end -->
					</div>

					<!-- Portfolio Items
					============================================= -->
					<div id="portfolio" class="portfolio grid-container portfolio-nomargin clearfix">

						<article class="portfolio-item pf-media pf-icons">
							<div class="portfolio-image">
								<a href="#">
									<img src="/demos/business/images/portfolio/1.jpg" alt="Open Imagination">
								</a>
								<div class="portfolio-overlay">
									<div class="portfolio-desc">
										<h3><a href="#">פתח את הדמיון</a></h3>
										<span><a href="#">מדיה</a>, <a href="#">סמלים</a></span>
									</div>
								</div>
							</div>
						</article>

						<article class="portfolio-item pf-illustrations">
							<div class="portfolio-image">
								<a href="#">
									<img src="/demos/business/images/portfolio/2.jpg" alt="Open Imagination">
								</a>
								<div class="portfolio-overlay">
									<div class="portfolio-desc">
										<h3><a href="#">שער פלדה נעול</a></h3>
										<span><a href="#">Illustrations</a></span>
									</div>
								</div>
							</div>
						</article>

						<article class="portfolio-item pf-graphics pf-uielements">
							<div class="portfolio-image">
								<a href="#">
									<img src="/demos/business/images/portfolio/3.jpg" alt="Open Imagination">
								</a>
								<div class="portfolio-overlay">
									<div class="portfolio-desc">
										<h3><a href="#">משקפי שמש</a></h3>
										<span><a href="#">Graphics</a>, <a href="#">UI Elements</a></span>
									</div>
								</div>
							</div>
						</article>

						<article class="portfolio-item pf-icons pf-illustrations">
							<div class="portfolio-image">
								<div class="fslider" data-arrows="false" data-speed="400" data-pause="4000">
									<div class="flexslider">
										<div class="slider-wrap">
											<div class="slide"><a href="#"><img src="/demos/business/images/portfolio/4.jpg" alt="Open Imagination"></a></div>
											<div class="slide"><a href="#"><img src="/demos/business/images/portfolio/4-2.jpg" alt="Open Imagination"></a></div>
										</div>
									</div>
								</div>
								<div class="portfolio-overlay" data-lightbox="gallery">
									<div class="portfolio-desc">
										<h3><a href="#">טל של בוקר</a></h3>
										<span><a href="#">Icons</a>, <a href="#">Illustrations</a></span>
									</div>
								</div>
							</div>
						</article>

						<article class="portfolio-item pf-graphics pf-illustrations">
							<div class="portfolio-image">
								<div class="fslider" data-arrows="false">
									<div class="flexslider">
										<div class="slider-wrap">
											<div class="slide"><a href="#"><img src="/demos/business/images/portfolio/5.jpg" alt="Open Imagination"></a></div>
											<div class="slide"><a href="#"><img src="/demos/business/images/portfolio/5-2.jpg" alt="Open Imagination"></a></div>
										</div>
									</div>
								</div>
								<div class="portfolio-overlay" data-lightbox="gallery">
									<div class="portfolio-desc">
										<h3><a href="#">נער את זה!</a></h3>
										<span><a href="#">Illustrations</a>, <a href="#">Graphics</a></span>
									</div>
								</div>
							</div>
						</article>

						<article class="portfolio-item pf-uielements pf-icons">
							<div class="portfolio-image">
								<a href="#">
									<img src="/demos/business/images/portfolio/6.jpg" alt="Open Imagination">
								</a>
								<div class="portfolio-overlay">
									<div class="portfolio-desc">
										<h3><a href="#">תוכן תרמילאים</a></h3>
										<span><a href="#">UI Elements</a>, <a href="#">Icons</a></span>
									</div>
								</div>
							</div>
						</article>

						<article class="portfolio-item pf-uielements pf-media">
							<div class="portfolio-image">
								<a href="#">
									<img src="/demos/business/images/portfolio/7.jpg" alt="Open Imagination">
								</a>
								<div class="portfolio-overlay">
									<div class="portfolio-desc">
										<h3><a href="#">פעילות מסוף</a></h3>
										<span><a href="#">UI Elements</a>, <a href="#">Media</a></span>
									</div>
								</div>
							</div>
						</article>

						<article class="portfolio-item pf-graphics">
							<div class="portfolio-image">
								<a href="#">
									<img src="/demos/business/images/portfolio/8.jpg" alt="Open Imagination">
								</a>
								<div class="portfolio-overlay">
									<div class="portfolio-desc">
										<h3><a href="#">שקיעה נורה זוהר</a></h3>
										<span><a href="#">Graphics</a></span>
									</div>
								</div>
							</div>
						</article>

					</div><!-- #portfolio end -->
				</div>

				<!-- Video Sections
				============================================= -->
				<div class="section nobg notopmargin clearfix">
					<div class="container clearfix">

						<div class="col_one_third">
							<div class="feature-box fbox-plain">
								<div class="fbox-icon">
									<a href="#"><img src="/demos/business/images/icons/24help.svg" alt=""></a>
								</div>
								<h3 class="nott t600 ls0">עובד על כל מסך</h3>
								<p>Powerful Layout with Responsive functionality that can be adapted to any screen size.</p>
							</div>
						</div>

						<div class="col_one_third">
							<div class="feature-box fbox-plain">
								<div class="fbox-icon">
									<a href="#"><img src="/demos/business/images/icons/barcode.svg" alt=""></a>
								</div>
								<h3 class="nott t600 ls0">התצוגה הטובה ביותר</h3>
								<p>Looks beautiful &amp; ultra-sharp on Retina Displays with Retina Icons, Fonts &amp; Images.</p>
							</div>
						</div>

						<div class="col_one_third col_last">
							<div class="feature-box fbox-plain">
								<div class="fbox-icon">
									<a href="#"><img src="/demos/business/images/icons/buy.svg" alt=""></a>
								</div>
								<h3 class="nott t600 ls0">ביצועים רבי עוצמה</h3>
								<p>Optimized code that are completely customizable and deliver unmatched fast performance.</p>
							</div>
						</div>

						<div class="clear"></div>

						<div class="col_one_third">
							<div class="feature-box fbox-plain">
								<div class="fbox-icon">
									<a href="#"><img src="/demos/business/images/icons/card.svg" alt=""></a>
								</div>
								<h3 class="nott t600 ls0">סרטונים מכל מקום</h3>
								<p>Canvas provides support for Native HTML5 Videos that can be added to a Full Width Background.</p>
							</div>
						</div>

						<div class="col_one_third">
							<div class="feature-box fbox-plain">
								<div class="fbox-icon">
									<a href="#"><img src="/demos/business/images/icons/doc.svg" alt=""></a>
								</div>
								<h3 class="nott t600 ls0">תמיכה 24/7</h3>
								<p>Display your Content attractively using Parallax Sections that have unlimited customizable areas.</p>
							</div>
						</div>

						<div class="col_one_third col_last">
							<div class="feature-box fbox-plain">
								<div class="fbox-icon">
									<a href="#"><img src="/demos/business/images/icons/dropbox.svg" alt=""></a>
								</div>
								<h3 class="nott t600 ls0">אינסוף אפשרויות</h3>
								<p>Complete control on each &amp; every element that provides endless customization possibilities.</p>
							</div>
						</div>

						<div class="clear"></div>

						<div class="col_one_third bottommargin">
							<div class="feature-box fbox-plain">
								<div class="fbox-icon">
									<a href="#"><img src="/demos/business/images/icons/piggy-bank.svg" alt=""></a>
								</div>
								<h3 class="nott t600 ls0">אור ותכנים אפלים</h3>
								<p>Change your Website's Primary Scheme instantly by simply adding the dark class to the body.</p>
							</div>
						</div>

						<div class="col_one_third bottommargin">
							<div class="feature-box fbox-plain">
								<div class="fbox-icon">
									<a href="#"><img src="/demos/business/images/icons/home.svg" alt=""></a>
								</div>
								<h3 class="nott t600 ls0">פריסות רחבות</h3>
								<p>Stretch your Website to the Full Width or make it boxed to surprise your visitors.</p>
							</div>
						</div>

						<div class="col_one_third bottommargin col_last">
							<div class="feature-box fbox-plain">
								<div class="fbox-icon">
									<a href="#"><img src="/demos/business/images/icons/offers.svg" alt=""></a>
								</div>
								<h3 class="nott t600 ls0">תיעוד מקיף</h3>
								<p>We have covered each &amp; everything in our Documentation including Videos &amp; Screenshots.</p>
							</div>
						</div>

						<div class="clear line"></div>

						<div class="row topmargin-lg clearfix">
							<div class="col-lg-6 nopadding">
								<!-- Youtube Video Link
								============================================= -->
								<a href="https://www.youtube.com/watch?v=NS0txu_Kzl8" data-lightbox="iframe">
									<img src="/demos/business/images/sections/video.jpg" alt="Youtube Video" class="image_fade" style="box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.15); border-radius: 6px;">
									<i class="icon-play" style="position: absolute; top: 50%; left: 50%; font-size: 60px; color: #FFF; margin-top: -45px; margin-left: -23px"></i>
								</a>
							</div>
							<!-- Video Texts
							============================================= -->
							<div class="col-lg-6" style="padding-left: 60px;">
								<div class="heading-block topmargin-sm bottommargin-sm noborder">
									<h3 class="nott" style="font-size: 46px; font-weight: 700; letter-spacing: -2px; line-height: 58px">וידאו קטן מלקוחותינו.</h3>
								</div>
								<p class="t400">אינטראקטיבי לקהל.<br>מערכות טקטיות עם חומרים משכנעים. באופן אובייקטיבי להנדס מחדש מערכות יחסים לטווח ארוך מתודולוגיות ההשפעה.</p>
								<h5 class="nobottommargin t600">&middot; SemiColonWeb - Author, Themeforest Market. <a href="#"><img src="/demos/business/images/tf-logo.png" height="18" alt="" style="margin-left: 4px"></a></h5>
								<a href="#" class="button-link bottommargin">Read More</a>
							</div>
						</div>
					</div>
				</div>

				<!-- Parallax Area
				============================================= -->
				<div class="section parallax topmargin-lg nobottommargin notopborder clearfix" style="background-image: url('/demos/business/images/sections/2.jpg'); background-size: cover;" data-bottom-top="background-position:0px 300px;" data-top-bottom="background-position:0px -300px;">
					<div class="container clearfix">

						<div class="row cleafix">
							<div class="col-md-6 dark" style="padding-left: 60px;">
								<div class="heading-block bottommargin-sm noborder">
									<h3 class="nott" style="font-size: 46px; font-weight: 700; letter-spacing: -2px; line-height: 58px">אוספים מלקוחותינו.</h3>
								</div>
								<p>Appropriately implement user friendly e-markets and backend processes. Competently expedite competitive vortals rather than client-based testing procedures. Professionally matrix exceptional schemas vis-a-vis leveraged paradigms. Authoritatively coordinate just in time networks with strategic potentialities.</p>
								<a href="#" class="button-link noleftmargin">Read More</a>
							</div>

							<div class="topmargin d-block d-lg-none d-xl-block"></div>

							<!-- Testimonials slider
							============================================= -->
							<div class="col-md-5 offset-md-1">
								<h4 class="dark">עדויות</h4>
								<div class="fslider testimonial" data-animation="slide" data-arrows="false">
									<div class="flexslider">
										<div class="slider-wrap">
											<div class="slide">
												<div class="testimonial noborder noshadow">
													<div class="testi-content">
														<p class="bottommargin-sm font-primary">Great support, great documentation and you guys done a fantastic job in commenting everything, makes it very easy to customize, so thank you.</p>
														<div class="testi-meta">
															SmileyDot
															<span>ThemeForest user</span>
															<div class="testimonials-rating">
																<i class="icon-star3"></i>
																<i class="icon-star3"></i>
																<i class="icon-star3"></i>
																<i class="icon-star3"></i>
																<i class="icon-star3"></i>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="slide">
												<div class="testimonial noborder noshadow">
													<div class="testi-content">
														<p class="bottommargin-sm font-primary">I wish that I could choose more than one reason for my 5-star rating! The Design is great, the features are fantastic, the documentation top-notch.</p>
														<div class="testi-meta">
															georgewhoffman
															<span>ThemeForest user</span>
															<div class="testimonials-rating">
																<i class="icon-star3"></i>
																<i class="icon-star3"></i>
																<i class="icon-star3"></i>
																<i class="icon-star3"></i>
																<i class="icon-star3"></i>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="slide">
												<div class="testimonial noborder noshadow">
													<div class="testi-content">
														<p class="bottommargin-sm font-primary">Excellent Template really versatile and well documented. Makes anyone look like a design professional.</p>
														<div class="testi-meta">
															georgeuser077
															<span>ThemeForest user</span>
															<div class="testimonials-rating">
																<i class="icon-star3"></i>
																<i class="icon-star3"></i>
																<i class="icon-star3"></i>
																<i class="icon-star3"></i>
																<i class="icon-star3"></i>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="slide">
												<div class="testimonial noborder noshadow">
													<div class="testi-content">
														<p class="bottommargin-sm font-primary">This is the most robust template I've ever worked with. So much can be done with this multi-purpose package. Regular updates and enhancements add tremendous value.</p>
														<div class="testi-meta">
															rmandaro
															<span>ThemeForest user</span>
															<div class="testimonials-rating">
																<i class="icon-star3"></i>
																<i class="icon-star3"></i>
																<i class="icon-star3"></i>
																<i class="icon-star3"></i>
																<i class="icon-star3"></i>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="slide">
												<div class="testimonial noborder noshadow">
													<div class="testi-content">
														<p class="bottommargin-sm font-primary">I've been using Canvas for months now and it has exceeded my expectations. Their support has been great too.</p>
														<div class="testi-meta">
															kwelch2
															<span>ThemeForest user</span>
															<div class="testimonials-rating">
																<i class="icon-star3"></i>
																<i class="icon-star3"></i>
																<i class="icon-star3"></i>
																<i class="icon-star3"></i>
																<i class="icon-star3"></i>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

					</div>
				</div>

				<!-- Team Work
				============================================= -->
				<div class="section nobg nobottompadding nobottommargin clearfix">
					<div class="container clearfix">
						<div class="row clearfix">

							<div class="col-lg-5 order-lg-12">
								<div class="device-xl device-md topmargin-lg"></div>
								<h3 class="nobottommargin" style="font-size: 40px;">עבודה צוות גדול.</h3>
								<h3 class="t300 ls4 lowercase" style="font-size: 15px; color: #999;">Designed by Semicolonweb</h3>
								<p>Uniquely plagiarize dynamic convergence after equity invested experiences. Holisticly repurpose installed base infomediaries before web-enabled methods of empowerment.</p>
								<a href="#" class="button-link bottommargin">Read More</a>
							</div>

							<div class="col-lg-7 order-lg-1">
								<div style="position: relative; margin-bottom: 0;" class="ohidden" data-height-xl="520" data-height-lg="520" data-height-md="520" data-height-sm="500" data-height-xs="300">
									<img class="man" src="/demos/business/images/sections/man.jpg" style="position: absolute; top: 0; left: auto;" alt="Chrome">
								</div>
							</div>

						</div>
					</div>
				</div>

				<!-- Brands Carousel
				============================================= -->
				<div class="section nomargin clearfix" style="padding: 80px 0">
					<div id="oc-clients-full" class="owl-carousel owl-carousel-full image-carousel carousel-widget" data-margin="0" data-nav="false" data-pagi="false" data-loop="true" data-autoplay="3000" data-items-xs="2" data-items-sm="3" data-items-md="5" data-items-lg="5" data-items-xl="5">

						<div class="oc-item"><a href="#"><img src="/demos/business/images/clients/linkedin.svg" style="height: 24px" alt="Brands"></a></div>
						<div class="oc-item"><a href="#"><img src="/demos/business/images/clients/nat-geo.svg" style="height: 24px" alt="Brands"></a></div>
						<div class="oc-item"><a href="#"><img src="/demos/business/images/clients/jetblue.svg" style="height: 24px" alt="Brands"></a></div>
						<div class="oc-item"><a href="#"><img src="/demos/business/images/clients/zillow.svg" style="height: 24px" alt="Brands"></a></div>
						<div class="oc-item"><a href="#"><img src="/demos/business/images/clients/amazon.svg" style="height: 24px" alt="Brands"></a></div>

					</div>
				</div>

			</div>

		</section><!-- #content end -->

    <% include ../partials/footer %>

	<script>
		// Owl Carousel Scripts
		$('#oc-features').owlCarousel({
			rtl: true,
			items: 1,
			margin: 60,
		    nav: true,
		    navText: ['<i class="icon-line-arrow-left"></i>','<i class="icon-line-arrow-right"></i>'],
		    dots: false,
		    stagePadding: 30,
		    responsive:{
				768: { items: 2 },
				1200: { stagePadding: 200 }
			},
		});
	</script>

</body>
</html>