<% include ../partials/header %>

	<link rel="stylesheet" href="/bike.css" type="text/css" />
	<!-- / -->

	<!-- Document Title
	============================================= -->
	<title>בניית אתר | מחנת קיץ</title>

</head>

<body class="stretched rtl no-transition">
    <h2 class="text-center bg-primary m-0 text-white">דוגמה לאתר - דף מחנת קיץ בערבית</h2>

	<!-- Document Wrapper
	============================================= -->
	<div id="wrapper" class="clearfix">

		<!-- Header
		============================================= -->
		<header id="header" class="clearfix static-sticky border-bottom">
			<div id="header-wrap">
				<div class="container clearfix">
					<div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

					<!-- Logo
					============================================= -->
					<div id="logo">
						<a href="index.html" class="standard-logo" data-dark-logo="/images/logo-dark.png"><img src="/images/logo.png" alt="SLogo"></a>
					</div><!-- #logo end -->

					<!-- Primary Navigation
					============================================= -->
					<nav id="primary-menu" class="d-lg-flex d-xl-flex justify-content-xl-between justify-content-lg-between fnone">
						<ul class="not-dark align-self-end one-page-menu">
							<li><a href="/example/embassyenglish"><div>التسجيل</div></a></li>
							<li><a href="/"><div>الرئيسية</div></a></li>
						</ul>
					</nav><!-- #primary-menu end -->
				</div>
			</div>
		</header><!-- #header end -->

		<!-- Content
		============================================= -->
		<section id="content">
			<div class="content-wrap nopadding">
				<div class="section section-curve notopmargin" style="background: var(--theme1) right 70% / cover; height: 750px;">
					<div class="container center">
						<div class="heading-block mt-4 nobottomborder">
							<h1 class="nott t600" style="font-size: 44px; letter-spacing: -1px">اقضي العطلة الصيفية بمتعة كاملة</h1>
							<small class="mb-5 h6 lead">مخيم الصيفي مدة 19 يوم مع اكثر من 50 رحلة.</small>
						</div>

						<a href="#modal-contact" data-lightbox="inline" class="button button-large button-rounded button-shadow">سجل الاّن</a>
						<a href="#section-contact" class="button button-large button-rounded button-border smooth-goto">تواصل معنا</a>
					</div>

				</div>

				<div class="container">
					<div class="card border-0 divcenter rounded ytb-card" style="box-shadow: 0 32px 46px 2px rgba(0,0,0,0.12);">
						<div id="ytb-video" class="yt-bg-player card-img-top rounded-top" data-quality="hd1080" data-volume="80" data-autoplay="false" data-video="https://youtu.be/UyFdGRcspDI">
						<iframe src="" width="560" height="315" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allowFullScreen="true"></iframe>
							<div class="ytb-poster rounded-top" style="background: url('/images/video-poster.webp') center center / cover; position: absolute; left: 0; top: 0; width: 100%; height: 100%;">
							</div>
							<a href="#" id="ytb-video-button" class="play-icon"><i class="icon-play"></i><i class="icon-pause"></i></a>
							</div>
						<div class="card-body p-5">
							<div class="row justify-content-between align-items-center">
								<div class="col-md-6">
									<div class="heading-block nobottomborder mb-0">
										<small class="text-black-50 uppercase ls3 t600">المرشد</small>
										<h2 class="nott t600 ls0 mb-2">أحمد محمد</h2>
										<p class="mb-1">خبرة 50 سنين في تنظيم الرحلات من دون ظهور أي مشكلة, مما يجعله أفضل مرشد على الاطلاق.</p>
									</div>
								</div>
								<div class="col-md-5 mt-3 mt-md-0">
									<div class="subscribe-widget" data-loader="button">
										<div class="widget-subscribe-form-result"></div>
										<form id="widget-subscribe-form" class="nobottommargin">
											<input type="email" id="widget-subscribe-form-email" name="widget-subscribe-form-email" class="form-control not-dark required email" placeholder="رقم الهاتف او الايميل">
											<div class="form-check py-3">
												<input type="checkbox" class="form-check-input" id="subscribe-news">
												<label class="form-check-label nott ls0 t400" for="subscribe-news">اوافق على الاتصال مع مرشد الرحلات.</label>
											</div>
											<button class="button button-shadow button-rounded nomargin nott ls0 btn-block" type="submit">اشترك</button>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="row topmargin align-items-center divcenter bottommargin-lg" style="max-width: 840px">
						<div class="col-md-3 mb-2 mb-md-0">
							<h3 class="mb-0">شركائنا:</h3>
						</div>
						<div class="col-md-9">
							<div id="oc-images" class="owl-carousel image-carousel carousel-widget" data-margin="50" data-nav="true" data-pagi="false" data-items-xs="2" data-items-md="3" data-items-xl="4" data-loop="true" data-autoplay="3500">
								<div class="oc-item"><a href="#"><img src="/images/clients/1.png" alt="clients"></a></div>
								<div class="oc-item"><a href="#"><img src="/images/clients/2.png" alt="clients"></a></div>
								<div class="oc-item"><a href="#"><img src="/images/clients/3.png" alt="clients"></a></div>
								<div class="oc-item"><a href="#"><img src="/images/clients/4.png" alt="clients"></a></div>
								<div class="oc-item"><a href="#"><img src="/images/clients/5.png" alt="clients"></a></div>
								<div class="oc-item"><a href="#"><img src="/images/clients/6.png" alt="clients"></a></div>
							</div>
						</div>
					</div>
				</div>

				<div class="section nobg topmargin-lg mb-0">
					<div class="container">
						<div class="heading-block divcenter center" style="max-width: 600px">
							<small class="text-black-50 uppercase ls3 t600">زيارة</small>
							<h2 class="capitalize t600 ls0 mb-1" style="font-size: 36px">أشهر الأماكن في انجلترا<h2>
							<p>Energistically syndicate team building synergy after efficient human capital. Assertively underwhelm sticky solutions.</p>
						</div>
						<div class="clear"></div>
						<div class="row showcase-section align-items-center justify-content-between clearfix">
							<div class="col-lg-3 col-md-5">
								<ul class="nobottommargin">
									<li class="showcase-feature showcase-feature-active" data-target="#target-1">
										<h3>ملعب أرسينال</h3>
	  									<p>Credibly conceptualize backward-compatible interna visionary.</p>
									</li>
									<li class="showcase-feature" data-target="#target-2">
										<h3>أشهر وأفخم معرض سيارات</h3>
	  									<p>Assertively engineer standardized interactive meta-services.</p>
									</li>
									<li class="showcase-feature" data-target="#target-3">
										<h3>زيارة منتجع وسفاري شيسينجتون الشهير</h3>
	  									<p>Holisticly customize fully synergistic e-business continually.</p>
									</li>
									<li class="showcase-feature" data-target="#target-4">
										<h3 class="uppercase">مدينة أوكسفورد ومعالمها</h3>
	  									<p>Interactively without backward-compatible enable.</p>
									</li>
								</ul>
							</div>

							<div class="col-lg-8 col-md-7" >
								<div id="target-1" class="showcase-target showcase-target-active">
									<iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2F420146515192943%2Fvideos%2F2196391547292535%2F&show_text=0&width=560" width="560" height="315" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allowFullScreen="true"></iframe>
								</div>
								<div id="target-2" class="showcase-target">
									<iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2F420146515192943%2Fvideos%2F379066609541803%2F&show_text=0&width=560" width="560" height="315" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allowFullScreen="true"></iframe>
								</div>
								<div id="target-3" class="showcase-target">
									<iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2F420146515192943%2Fvideos%2F381100232469094%2F&show_text=0&width=560" width="560" height="315" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allowFullScreen="true"></iframe>
								</div>
								<div id="target-4" class="showcase-target">
									<iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2F420146515192943%2Fvideos%2F407679619983632%2F&show_text=0&width=560" width="560" height="315" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allowFullScreen="true"></iframe>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div id="section-university" class="section bg1 mt-4" style="padding: 120px 0;">
					<div class="container">
						<div class="heading-block divcenter center" style="max-width: 600px">
							<small class="text-black-50 uppercase ls3 t600">الاقامة</small>
							<h2 class="capitalize t600 mb-2" style="font-size: 36px; letter-spacing: -1px">جامعة UEL</h2>
							<p>Energistically syndicate team building synergy after efficient human capital. Assertively underwhelm sticky solutions.</p>
						</div>
						<div class="row justify-content-between">
							<div class="col-lg-6">
								<div class="media row">
								  <img class="col-sm-5 p-5 p-sm-0 pr-sm-3" src="/images/camp/docks.webp" alt="Generic placeholder image" width="230">
								  <div class="col-sm-7 media-body">
								  	<h3 class="mb-3">أماكن السكن</h3>
								    <p class="mb-3 text-black-50">Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.</p>
								    <a href="#" class="button button-shadow button-rounded t400 ls0 nomargin nott">شاهد المزيد</a>
								  </div>
								</div>
							</div>

							<div class="col-lg-6 mt-5 mt-lg-0">
								<div class="media row">
								  <img class="col-sm-5 p-5 p-sm-0 pr-sm-3" src="/images/camp/room.webp" alt="Generic placeholder image" width="230">
								  <div class="col-sm-7 media-body">
								    <h3 class="mb-3">غرفة لكل شخص</h3>
								    <p class="mb-3 text-black-50">Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.</p>
								    <a href="#" class="button button-shadow button-rounded t400 ls0 nomargin nott">شاهد المزيد</a>
								  </div>
								</div>
							</div>

							<div class="col-lg-6 mt-5">
								<div class="media row">
								  <img class="col-sm-5 p-5 p-sm-0 pr-sm-3" src="/images/camp/library.webp" alt="Generic placeholder image" width="230">
								  <div class="col-sm-7 media-body">
								    <h3 class="mb-3">كورسات تعلم اللغة الانجليزية</h3>
								    <p class="mb-3 text-black-50">Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.</p>
								    <a href="#" class="button button-shadow button-rounded t400 ls0 nomargin nott">شاهد المزيد</a>
								  </div>
								</div>
							</div>

							<div class="col-lg-6 mt-5">
								<div class="media row">
								  <img class="col-sm-5 p-5 p-sm-0 pr-sm-3" src="/images/camp/campus.webp" alt="Generic placeholder image" width="230">
								  <div class="col-sm-7 media-body">
								    <h3 class="mb-3">فعاليات مختلفة مع المجموعات</h3>
								    <p class="mb-3 text-black-50">Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.</p>
								    <a href="#" class="button button-shadow button-rounded t400 ls0 nomargin nott">شاهد المزيد</a>
								  </div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="section nobg" style="padding: 80px 0">
					<div class="container">
						<div class="heading-block divcenter nobottomborder center" style="max-width: 600px">
							<i class="icon-et-bike d-block h1 mb-4 text-black"></i>
							<small class="text-black-50 uppercase ls3 t600">الرحلة تشمل</small>
							<h2 class="nott t600 mb-2" style="font-size: 36px; letter-spacing: -1px">
							<span class="counter counter-inherit text-dark inline-block">
								المخيم يشمل أكثر من 
								<code class="color"><span data-from="0" data-to="50" data-refresh-interval="1" data-speed="110"></span></code>+</span>
								رحلة في
								<span>11</span>
								مدينة مختلفة
							</h2>
							<p class="lead">Energistically syndicate team building synergy after efficient human capital. Assertively underwhelm sticky solutions.</p>
						</div>
						<ul class="skills divcenter" style="max-width: 600px">
							<li data-percent="80">
								<div class="progress">
									<div class="progress-percent"><div class="counter counter-inherit counter-instant"><span data-from="0" data-to="50" data-refresh-interval="1" data-speed="110"></span></div></div>
								</div>
							</li>
						</ul>
					</div>
				</div>

				<div id="section-contact" class="section bg1 clearfix">
					<div class="container">
						<div class="row align-items-center justify-content-between">
							<div class="col-lg-6">
								<div class="heading-block nobottomborder mb-0">
									<small class="text-black-50 uppercase ls3 t600">تواصل معنا</small>
									<h2 class="capitalize t600 mb-2" style="font-size: 44px; letter-spacing: -1px">ألم تقرر قضاء أفضل وقت في العطلة؟!</h2>
									<p class="lead">Energistically syndicate team building synergy after efficient human capital. Assertively underwhelm sticky solutions.</p>
								</div>
							</div>

							<div class="col-lg-6 d-inline-block d-sm-inline-flex justify-content-start justify-content-lg-end">
								<div href="/" data-lightbox="inline" class="button button-xlarge ls0 button-rounded button-border nott t400 ">مساعدة</div>
								<div href="/" data-lightbox="inline" class="button button-xlarge ls0 button-rounded button-shadow nott t400 ">سجل الاّن</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section><!-- #content end -->

<% include ../partials/footer %>

	<script>
		$('#ytb-video').on('click', function(e){
			e.preventDefault();

			if( $(this).hasClass('video-played') ) {
				$('#ytb-video').YTPPause();
			} else {
				$('#ytb-video').YTPPlay();
				$('.ytb-poster').stop(true,true).fadeTo( "slow", 0 );
			}

			$(this).toggleClass('video-played');
		});


		function showcaseSection( element ){

			var otherElements = element.parents('.showcase-section').find('.showcase-feature'),
				elementTarget = jQuery( element.attr('data-target') ),
				otherTargets = element.parents('.showcase-section').find('.showcase-target');

			otherElements.removeClass('showcase-feature-active');
			element.addClass('showcase-feature-active');
			otherTargets.removeClass('showcase-target-active');
			elementTarget.addClass('showcase-target-active');

		}

		jQuery('.showcase-feature').hover( function(){
			showcaseSection( jQuery(this) );
		});

	</script>

</body>
</html>