<% include ../../partials/header %>
<% include head %>
<!-- Content
============================================= -->
<section id="content">

    <div class="content-wrap">

        <div class="container clearfix">

            <div class="col_half">
                <div class="card">
                    <div class="card-body">
                        לקוח חוזר? <a href="login-register.html">לחץ כאן כדי להתחבר</a>
                    </div>
                </div>
            </div>
            <div class="col_half col_last">
                <div class="card">
                    <div class="card-body">
                        יש לך קופון? <a href="login-register.html">לחץ כאן להזנת הקוד שלך</a>
                    </div>
                </div>
            </div>

            <div class="clear"></div>

            <div class="row clearfix">
                <div class="col-lg-6">
                    <h3>כתובת לחיוב</h3>

                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde, vel odio non dicta provident sint ex autem mollitia dolorem illum repellat ipsum aliquid illo similique sapiente fugiat minus ratione.</p>

                    <form id="billing-form" name="billing-form" class="nobottommargin" action="#" method="post">

                        <div class="col_half">
                            <label for="billing-form-name">שם:</label>
                            <input type="text" id="billing-form-name" name="billing-form-name" value="" class="sm-form-control" />
                        </div>

                        <div class="col_half col_last">
                            <label for="billing-form-lname">שם משפחה:</label>
                            <input type="text" id="billing-form-lname" name="billing-form-lname" value="" class="sm-form-control" />
                        </div>

                        <div class="clear"></div>

                        <div class="col_full">
                            <label for="billing-form-companyname">שם החברה:</label>
                            <input type="text" id="billing-form-companyname" name="billing-form-companyname" value="" class="sm-form-control" />
                        </div>

                        <div class="col_full">
                            <label for="billing-form-address">כתובת:</label>
                            <input type="text" id="billing-form-address" name="billing-form-address" value="" class="sm-form-control" />
                        </div>

                        <div class="col_full">
                            <input type="text" id="billing-form-address2" name="billing-form-adress" value="" class="sm-form-control" />
                        </div>

                        <div class="col_full">
                            <label for="billing-form-city">עיר מגורים</label>
                            <input type="text" id="billing-form-city" name="billing-form-city" value="" class="sm-form-control" />
                        </div>

                        <div class="col_half">
                            <label for="billing-form-email">כתובת דוא"ל:</label>
                            <input type="email" id="billing-form-email" name="billing-form-email" value="" class="sm-form-control" />
                        </div>

                        <div class="col_half col_last">
                            <label for="billing-form-phone">טלפון:</label>
                            <input type="text" id="billing-form-phone" name="billing-form-phone" value="" class="sm-form-control" />
                        </div>

                    </form>
                </div>
                <div class="w-100 bottommargin"></div>
                <div class="col-lg-6">
                    <h4>ההזמנות שלך</h4>

                    <div class="table-responsive">
                        <table class="table cart">
                            <thead>
                                <tr>
                                    <th class="cart-product-thumbnail">&nbsp;</th>
                                    <th class="cart-product-name">מוצר</th>
                                    <th class="cart-product-quantity">כמות</th>
                                    <th class="cart-product-subtotal">סך הכל</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="cart_item">
                                    <td class="cart-product-thumbnail">
                                        <a href="#"><img width="64" height="64" src="/images/shop/thumbs/small/dress-3.jpg" alt="Pink Printed Dress"></a>
                                    </td>

                                    <td class="cart-product-name">
                                        <a href="#">Pink Printed Dress</a>
                                    </td>

                                    <td class="cart-product-quantity">
                                        <div class="quantity clearfix">
                                            1x2
                                        </div>
                                    </td>

                                    <td class="cart-product-subtotal">
                                        <span class="amount">$39.98</span>
                                    </td>
                                </tr>
                                <tr class="cart_item">
                                    <td class="cart-product-thumbnail">
                                        <a href="#"><img width="64" height="64" src="/images/shop/thumbs/small/shoes-2.jpg" alt="Checked Canvas Shoes"></a>
                                    </td>

                                    <td class="cart-product-name">
                                        <a href="#">Checked Canvas Shoes</a>
                                    </td>

                                    <td class="cart-product-quantity">
                                        <div class="quantity clearfix">
                                            1x1
                                        </div>
                                    </td>

                                    <td class="cart-product-subtotal">
                                        <span class="amount">$24.99</span>
                                    </td>
                                </tr>
                                <tr class="cart_item">
                                    <td class="cart-product-thumbnail">
                                        <a href="#"><img width="64" height="64" src="/images/shop/thumbs/small/tshirt-2.jpg" alt="Pink Printed Dress"></a>
                                    </td>

                                    <td class="cart-product-name">
                                        <a href="#">Blue Men Tshirt</a>
                                    </td>

                                    <td class="cart-product-quantity">
                                        <div class="quantity clearfix">
                                            1x3
                                        </div>
                                    </td>

                                    <td class="cart-product-subtotal">
                                        <span class="amount">$41.97</span>
                                    </td>
                                </tr>
                            </tbody>

                        </table>
                    </div>
                </div>
                <div class="col-lg-6">
                    <h4>סך כל הקניות</h4>

                    <div class="table-responsive">
                        <table class="table cart">
                            <tbody>
                                <tr class="cart_item">
                                    <td class="notopborder cart-product-name">
                                        <strong>סיכום ביניים של עגלת הקניות</strong>
                                    </td>

                                    <td class="notopborder cart-product-name">
                                        <span class="amount">$106.94</span>
                                    </td>
                                </tr>
                                <tr class="cart_item">
                                    <td class="cart-product-name">
                                        <strong>משלוח</strong>
                                    </td>

                                    <td class="cart-product-name">
                                        <span class="amount">משלוח חינם</span>
                                    </td>
                                </tr>
                                <tr class="cart_item">
                                    <td class="cart-product-name">
                                        <strong>סך הכל</strong>
                                    </td>

                                    <td class="cart-product-name">
                                        <span class="amount color lead"><strong>$106.94</strong></span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="accordion clearfix">
                        <div class="acctitle"><i class="acc-closed icon-ok-circle"></i><i class="acc-open icon-remove-circle"></i>Direct Bank Transfer</div>
                        <div class="acc_content clearfix">Donec sed odio dui. Nulla vitae elit libero, a pharetra augue. Nullam id dolor id nibh ultricies vehicula ut id elit. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.</div>

                        <div class="acctitle"><i class="acc-closed icon-ok-circle"></i><i class="acc-open icon-remove-circle"></i>Cheque Payment</div>
                        <div class="acc_content clearfix">Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Duis mollis, est non commodo luctus. Aenean lacinia bibendum nulla sed consectetur. Cras mattis consectetur purus sit amet fermentum.</div>

                        <div class="acctitle"><i class="acc-closed icon-ok-circle"></i><i class="acc-open icon-remove-circle"></i>Paypal</div>
                        <div class="acc_content clearfix">Nullam id dolor id nibh ultricies vehicula ut id elit. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Duis mollis, est non commodo luctus. Aenean lacinia bibendum nulla sed consectetur.</div>
                    </div>
                    <a href="#" class="button button-3d fright">ביצוע הזמנה</a>
                </div>
            </div>
        </div>

    </div>

</section><!-- #content end -->

<% include ../../partials/footer %>
</body>
</html>