<% include ../../partials/header %>
<link rel="stylesheet" href="/css/components/ion.rangeslider.css" type="text/css" />
<% include head %> 
<!-- Content
============================================= -->
<section id="content">

	<div class="content-wrap">

		<div class="container clearfix">

			<!-- Portfolio Filter
			============================================= -->
			<ul id="portfolio-filter" class="portfolio-filter clearfix">

				<li class="activeFilter"><a href="product" data-filter="*">הצג הכול</a></li>
				<li><a href="product" data-filter=".pf-dress">שמלה</a></li>
				<li><a href="product" data-filter=".pf-Shoes">נעליים</a></li>
				<li><a href="product" data-filter=".pf-sunglass">משקפיים</a></li>
				<li><a href="product" data-filter=".pf-watch">שעון</a></li>

			</ul><!-- /product-singleportfolio-filter end -->

			<div style="float:left; width:280px;">
				<input class="range_23" />
			</div>

			<div class="clear"></div>

			<!-- Shop
			============================================= -->
			<div id="shop" class="shop grid-container clearfix">

				<div class="product clearfix pf-dress">
					<div class="product-image">
						<a href="product"><img src="/images/shop/dress/1.jpg" alt="Checked Short Dress"></a>
						<a href="product"><img src="/images/shop/dress/1-1.jpg" alt="Checked Short Dress"></a>
						<div class="sale-flash">50% Off*</div>
						<div class="product-overlay">
							<a href="product" class="add-to-cart"><i class="icon-shopping-cart"></i><span> הוסף לעגלה</span></a>
							<a href="include/ajax/shop-item.html" class="item-quick-view" data-lightbox="ajax"><i class="icon-zoom-in2"></i><span> Quick View</span></a>
						</div>
					</div>
					<div class="product-desc">
						<div class="product-title"><h3><a href="product">Checked Short Dress</a></h3></div>
						<div class="product-price"><del>$24.99</del> <ins>$12.49</ins></div>
						<div class="product-rating">
							<i class="icon-star3"></i>
							<i class="icon-star3"></i>
							<i class="icon-star3"></i>
							<i class="icon-star3"></i>
							<i class="icon-star-half-full"></i>
						</div>
					</div>
				</div>

				<div class="product clearfix pf-dress">
					<div class="product-image">
						<a href="product"><img src="/images/shop/pants/1-1.jpg" alt="Slim Fit Chinos"></a>
						<a href="product"><img src="/images/shop/pants/1.jpg" alt="Slim Fit Chinos"></a>
						<div class="product-overlay">
							<a href="product" class="add-to-cart"><i class="icon-shopping-cart"></i><span> הוסף לעגלה</span></a>
							<a href="include/ajax/shop-item.html" class="item-quick-view" data-lightbox="ajax"><i class="icon-zoom-in2"></i><span> Quick View</span></a>
						</div>
					</div>
					<div class="product-desc">
						<div class="product-title"><h3><a href="product">Slim Fit Chinos</a></h3></div>
						<div class="product-price">$39.99</div>
						<div class="product-rating">
							<i class="icon-star3"></i>
							<i class="icon-star3"></i>
							<i class="icon-star3"></i>
							<i class="icon-star-half-full"></i>
							<i class="icon-star-empty"></i>
						</div>
					</div>
				</div>

				<div class="product clearfix pf-Shoes">
					<div class="product-image">
						<div class="fslider" data-arrows="false">
							<div class="flexslider">
								<div class="slider-wrap">
									<div class="slide"><a href="product"><img src="/images/shop/shoes/1.jpg" alt="Dark Brown Boots"></a></div>
									<div class="slide"><a href="product"><img src="/images/shop/shoes/1-1.jpg" alt="Dark Brown Boots"></a></div>
									<div class="slide"><a href="product"><img src="/images/shop/shoes/1-2.jpg" alt="Dark Brown Boots"></a></div>
								</div>
							</div>
						</div>
						<div class="product-overlay">
							<a href="product" class="add-to-cart"><i class="icon-shopping-cart"></i><span> הוסף לעגלה</span></a>
							<a href="include/ajax/shop-item.html" class="item-quick-view" data-lightbox="ajax"><i class="icon-zoom-in2"></i><span> Quick View</span></a>
						</div>
					</div>
					<div class="product-desc">
						<div class="product-title"><h3><a href="product">Dark Brown Boots</a></h3></div>
						<div class="product-price">$49</div>
						<div class="product-rating">
							<i class="icon-star3"></i>
							<i class="icon-star3"></i>
							<i class="icon-star3"></i>
							<i class="icon-star-empty"></i>
							<i class="icon-star-empty"></i>
						</div>
					</div>
				</div>

				<div class="product clearfix pf-dress">
					<div class="product-image">
						<a href="product"><img src="/images/shop/dress/2.jpg" alt="Light Blue Denim Dress"></a>
						<a href="product"><img src="/images/shop/dress/2-2.jpg" alt="Light Blue Denim Dress"></a>
						<div class="product-overlay">
							<a href="product" class="add-to-cart"><i class="icon-shopping-cart"></i><span> הוסף לעגלה</span></a>
							<a href="include/ajax/shop-item.html" class="item-quick-view" data-lightbox="ajax"><i class="icon-zoom-in2"></i><span> Quick View</span></a>
						</div>
					</div>
					<div class="product-desc">
						<div class="product-title"><h3><a href="product">Light Blue Denim Dress</a></h3></div>
						<div class="product-price">$19.95</div>
						<div class="product-rating">
							<i class="icon-star3"></i>
							<i class="icon-star3"></i>
							<i class="icon-star3"></i>
							<i class="icon-star3"></i>
							<i class="icon-star-empty"></i>
						</div>
					</div>
				</div>

				<div class="product clearfix pf-sunglass">
					<div class="product-image">
						<a href="product"><img src="/images/shop/sunglasses/1.jpg" alt="Unisex Sunglasses"></a>
						<a href="product"><img src="/images/shop/sunglasses/1-1.jpg" alt="Unisex Sunglasses"></a>
						<div class="sale-flash">Sale!</div>
						<div class="product-overlay">
							<a href="product" class="add-to-cart"><i class="icon-shopping-cart"></i><span> הוסף לעגלה</span></a>
							<a href="include/ajax/shop-item.html" class="item-quick-view" data-lightbox="ajax"><i class="icon-zoom-in2"></i><span> Quick View</span></a>
						</div>
					</div>
					<div class="product-desc">
						<div class="product-title"><h3><a href="product">Unisex Sunglasses</a></h3></div>
						<div class="product-price"><del>$19.99</del> <ins>$11.99</ins></div>
						<div class="product-rating">
							<i class="icon-star3"></i>
							<i class="icon-star3"></i>
							<i class="icon-star3"></i>
							<i class="icon-star-empty"></i>
							<i class="icon-star-empty"></i>
						</div>
					</div>
				</div>

				<div class="product clearfix pf-dress">
					<div class="product-image">
						<a href="product"><img src="/images/shop/tshirts/1.jpg" alt="Blue Round-Neck Tshirt"></a>
						<a href="product"><img src="/images/shop/tshirts/1-1.jpg" alt="Blue Round-Neck Tshirt"></a>
						<div class="product-overlay">
							<a href="product" class="add-to-cart"><i class="icon-shopping-cart"></i><span> הוסף לעגלה</span></a>
							<a href="include/ajax/shop-item.html" class="item-quick-view" data-lightbox="ajax"><i class="icon-zoom-in2"></i><span> Quick View</span></a>
						</div>
					</div>
					<div class="product-desc">
						<div class="product-title"><h3><a href="product">Blue Round-Neck Tshirt</a></h3></div>
						<div class="product-price">$9.99</div>
						<div class="product-rating">
							<i class="icon-star3"></i>
							<i class="icon-star3"></i>
							<i class="icon-star3"></i>
							<i class="icon-star-half-full"></i>
							<i class="icon-star-empty"></i>
						</div>
					</div>
				</div>

				<div class="product clearfix pf-watch">
					<div class="product-image">
						<a href="product"><img src="/images/shop/watches/1.jpg" alt="Silver Chrome Watch"></a>
						<a href="product"><img src="/images/shop/watches/1-1.jpg" alt="Silver Chrome Watch"></a>
						<div class="product-overlay">
							<a href="product" class="add-to-cart"><i class="icon-shopping-cart"></i><span> הוסף לעגלה</span></a>
							<a href="include/ajax/shop-item.html" class="item-quick-view" data-lightbox="ajax"><i class="icon-zoom-in2"></i><span> Quick View</span></a>
						</div>
					</div>
					<div class="product-desc">
						<div class="product-title"><h3><a href="product">Silver Chrome Watch</a></h3></div>
						<div class="product-price">$129.99</div>
						<div class="product-rating">
							<i class="icon-star3"></i>
							<i class="icon-star3"></i>
							<i class="icon-star3"></i>
							<i class="icon-star3"></i>
							<i class="icon-star-half-full"></i>
						</div>
					</div>
				</div>

				<div class="product clearfix pf-Shoes">
					<div class="product-image">
						<a href="product"><img src="/images/shop/shoes/2.jpg" alt="Men Grey Casual Shoes"></a>
						<a href="product"><img src="/images/shop/shoes/2-1.jpg" alt="Men Grey Casual Shoes"></a>
						<div class="sale-flash">Sale!</div>
						<div class="product-overlay">
							<a href="product" class="add-to-cart"><i class="icon-shopping-cart"></i><span> הוסף לעגלה</span></a>
							<a href="include/ajax/shop-item.html" class="item-quick-view" data-lightbox="ajax"><i class="icon-zoom-in2"></i><span> Quick View</span></a>
						</div>
					</div>
					<div class="product-desc">
						<div class="product-title"><h3><a href="product">Men Grey Casual Shoes</a></h3></div>
						<div class="product-price"><del>$45.99</del> <ins>$39.49</ins></div>
						<div class="product-rating">
							<i class="icon-star3"></i>
							<i class="icon-star3"></i>
							<i class="icon-star-half-full"></i>
							<i class="icon-star-empty"></i>
							<i class="icon-star-empty"></i>
						</div>
					</div>
				</div>

				<div class="product clearfix pf-dress">
					<div class="product-image">
						<div class="fslider" data-arrows="false">
							<div class="flexslider">
								<div class="slider-wrap">
									<div class="slide"><a href="product"><img src="/images/shop/dress/3.jpg" alt="Pink Printed Dress"></a></div>
									<div class="slide"><a href="product"><img src="/images/shop/dress/3-1.jpg" alt="Pink Printed Dress"></a></div>
									<div class="slide"><a href="product"><img src="/images/shop/dress/3-2.jpg" alt="Pink Printed Dress"></a></div>
								</div>
							</div>
						</div>
						<div class="product-overlay">
							<a href="product" class="add-to-cart"><i class="icon-shopping-cart"></i><span> הוסף לעגלה</span></a>
							<a href="include/ajax/shop-item.html" class="item-quick-view" data-lightbox="ajax"><i class="icon-zoom-in2"></i><span> Quick View</span></a>
						</div>
					</div>
					<div class="product-desc">
						<div class="product-title"><h3><a href="product">Pink Printed Dress</a></h3></div>
						<div class="product-price">$39.49</div>
						<div class="product-rating">
							<i class="icon-star3"></i>
							<i class="icon-star3"></i>
							<i class="icon-star3"></i>
							<i class="icon-star-empty"></i>
							<i class="icon-star-empty"></i>
						</div>
					</div>
				</div>

				<div class="product clearfix pf-dress">
					<div class="product-image">
						<a href="product"><img src="/images/shop/pants/5.jpg" alt="Green Trousers"></a>
						<a href="product"><img src="/images/shop/pants/5-1.jpg" alt="Green Trousers"></a>
						<div class="sale-flash">Sale!</div>
						<div class="product-overlay">
							<a href="product" class="add-to-cart"><i class="icon-shopping-cart"></i><span> הוסף לעגלה</span></a>
							<a href="include/ajax/shop-item.html" class="item-quick-view" data-lightbox="ajax"><i class="icon-zoom-in2"></i><span> Quick View</span></a>
						</div>
					</div>
					<div class="product-desc">
						<div class="product-title"><h3><a href="product">Green Trousers</a></h3></div>
						<div class="product-price"><del>$24.99</del> <ins>$21.99</ins></div>
						<div class="product-rating">
							<i class="icon-star3"></i>
							<i class="icon-star3"></i>
							<i class="icon-star3"></i>
							<i class="icon-star-half-full"></i>
							<i class="icon-star-empty"></i>
						</div>
					</div>
				</div>

				<div class="product clearfix pf-sunglass">
					<div class="product-image">
						<a href="product"><img src="/images/shop/sunglasses/2.jpg" alt="Men Aviator Sunglasses"></a>
						<a href="product"><img src="/images/shop/sunglasses/2-1.jpg" alt="Men Aviator Sunglasses"></a>
						<div class="product-overlay">
							<a href="product" class="add-to-cart"><i class="icon-shopping-cart"></i><span> הוסף לעגלה</span></a>
							<a href="include/ajax/shop-item.html" class="item-quick-view" data-lightbox="ajax"><i class="icon-zoom-in2"></i><span> Quick View</span></a>
						</div>
					</div>
					<div class="product-desc">
						<div class="product-title"><h3><a href="product">Men Aviator Sunglasses</a></h3></div>
						<div class="product-price">$13.49</div>
						<div class="product-rating">
							<i class="icon-star3"></i>
							<i class="icon-star3"></i>
							<i class="icon-star3"></i>
							<i class="icon-star3"></i>
							<i class="icon-star-empty"></i>
						</div>
					</div>
				</div>

				<div class="product clearfix pf-dress">
					<div class="product-image">
						<a href="product"><img src="/images/shop/tshirts/4.jpg" alt="Black Polo Tshirt"></a>
						<a href="product"><img src="/images/shop/tshirts/4-1.jpg" alt="Black Polo Tshirt"></a>
						<div class="product-overlay">
							<a href="product" class="add-to-cart"><i class="icon-shopping-cart"></i><span> הוסף לעגלה</span></a>
							<a href="include/ajax/shop-item.html" class="item-quick-view" data-lightbox="ajax"><i class="icon-zoom-in2"></i><span> Quick View</span></a>
						</div>
					</div>
					<div class="product-desc">
						<div class="product-title"><h3><a href="product">Black Polo Tshirt</a></h3></div>
						<div class="product-price">$11.49</div>
						<div class="product-rating">
							<i class="icon-star3"></i>
							<i class="icon-star3"></i>
							<i class="icon-star3"></i>
							<i class="icon-star3"></i>
							<i class="icon-star3"></i>
						</div>
					</div>
				</div>

			</div><!-- /product-singleshop end -->

		</div>

	</div>

</section><!-- /product-singlecontent end -->
<% include ../../partials/footer %>
<script src="/js/components/rangeslider.min.js"></script>
<script>

		var priceRangefrom = 0,
			priceRangeto = 0,
			$container = null;

		jQuery(window).on( 'load', function(){

			$container = $('#shop');

			$container.isotope({ transitionDuration: '0.65s' });

			$('#portfolio-filter a').click(function(){
				$('#portfolio-filter li').removeClass('activeFilter');
				$(this).parent('li').addClass('activeFilter');
				var selector = $(this).attr('data-filter');
				$container.isotope({ filter: selector });
				return false;
			});

			$(window).resize(function() {
				$container.isotope('layout');
			});

		});

		jQuery(document).ready( function($){

			$(".range_23").ionRangeSlider({
				type: "double",
				min: 9.99,
				max: 129.99,
				from: 9.99,
				to: 129.99,
				prefix: '$',
				hide_min_max: true,
				hide_from_to: false,
				grid: false,
				onStart: function (data) {
					priceRangefrom = data.from;
					priceRangeto = data.to;
				},
				onFinish: function (data) {
					priceRangefrom = data.from;
					priceRangeto = data.to;

					$container.isotope({
						filter: function() {

							if( $(this).find('.product-price').find('ins').length > 0 ) {
								var price = $(this).find('.product-price ins').text();
							} else {
								var price = $(this).find('.product-price').text();
							}

							priceNum = price.split("$");

							return ( priceRangefrom <= priceNum[1] && priceRangeto >= priceNum[1] );
						}
					});

				}
			});

		});

</script>
</body>
</html>