html{
    direction: rtl;
    height: 100%;
}
body{
    background: linear-gradient(to bottom left, lightblue, lightgrey, white);
    height: 90%;
}
h1{
    text-align: center;
}
.main{
    width: 100%;
    height: inherit;
    border: 1px solid;
}
.main iframe{
    width: inherit;
    height: 100%;
    border: none;
}