</head>

<body class="stretched side-push-panel rtl no-transition">

	<div id="side-panel">

		<div id="side-panel-trigger-close" class="side-panel-trigger"><a href="#"><i class="icon-line-cross"></i></a></div>

		<div class="side-panel-wrap">

			<div class="widget clearfix">

				<h4 class="t400">כניסה עם פרופילים חברתיים</h4>

				<a href="#" class="button button-rounded t400 btn-block center si-colored noleftmargin si-facebook">Facebook</a>
				<a href="#" class="button button-rounded t400 btn-block center si-colored noleftmargin si-gplus">Google</a>

				<div class="line"></div>

				<h4 class="t400">חשבון קיים?</h4>

				<form id="login-form" name="login-form" class="nobottommargin" action="#" method="post">

					<div class="col_full">
						<label for="login-form-username" class="t400">שם משתמש:</label>
						<input type="text" id="login-form-username" name="login-form-username" value="" class="form-control" />
					</div>

					<div class="col_full">
						<label for="login-form-password" class="t400">סיסמה:</label>
						<input type="password" id="login-form-password" name="login-form-password" value="" class="form-control" />
					</div>

					<div class="col_full nobottommargin">
						<button class="button button-rounded t400 nomargin" id="login-form-submit" name="login-form-submit" value="login">התחברות</button>
						<a href="#" class="fright">שכחת את הסיסמא?</a>
					</div>

				</form>


			</div>

		</div>

	</div>

	<!-- Document Wrapper
	============================================= -->
	<div id="wrapper" class="clearfix">

		<!-- Top Bar
		============================================= -->
		<div id="top-bar" class="transparent-topbar">

			<div class="container clearfix">

				<div class="col_half nobottommargin clearfix">

					<!-- Top Links
					============================================= -->
					<div class="top-links">
						<ul>
							<li><a href="#">כל העירים</a>
								<ul>
									<li><a href="#">ניו יורק</a></li>
									<li><a href="#">לוס אנג'לס</a></li>
									<li><a href="#">קליפורניה</a></li>
									<li><a href="#">מיאמי</a></li>
									<li><a href="#">לאס וגאס</a></li>
								</ul>
							</li>
						</ul>
					</div><!-- .top-links end -->

				</div>

				<div class="col_half col_last clearfix nobottommargin">

					<!-- Top Links
					============================================= -->
					<div class="top-links">
						<ul>
							<li class="d-md-none d-lg-block"><a href="#"><i class="icon-call"></i> +1800-123-7890</a></li>
							<li><a href="#"><i class="icon-download-alt"></i> הורד אפליקציה</a></li>
							<li class="top-bar-highlight"><a href="#">למכור / להשכיר את הנכס שלך</a>
								<div class="top-link-section" style="font-size: 14px;">
									לקוחות מקוריים, הבטחת נאמנות של 100% והאגרות הנמוכות ביותר בשוק. <a href="#" class="more-link font-secondary" style="border-bottom-style: dotted;">עוד &rarr;</a>
								</div>
							</li>
							<li><a href="#" class="side-panel-trigger">כניסה / הרשמה</a></li>
						</ul>
					</div><!-- .top-links end -->

				</div>

			</div>

		</div><!-- #top-bar end -->

		<!-- Header
		============================================= -->
		<header id="header" class="static-sticky transparent-header dark">

			<div id="header-wrap">

				<div class="container clearfix">

					<div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

					<!-- Logo
					============================================= -->
					<div id="logo">
						<a href="/" data-dark-logo="/images/logo.png" class="standard-logo"><img class="p-1" src="/images/logo.png" alt="AlifAlif Logo"></a>
					</div><!-- #logo end -->

					<!-- Primary Navigation
					============================================= -->
					<nav id="primary-menu" class="with-arrows">

						<ul>
							<li class="current"><a href="/example/real-estate"><div>ראשי</div></a></li>
							<li><a href="/example/real-estate/about-us"><div>מי אנחנו</div></a></li>
							<li><a href="#"><div>נכס</div></a>
								<ul>
									<li><a href="/example/real-estate/single-property"><div>דירות קונדו</div></a></li>
									<li><a href="/example/real-estate/single-property"><div>וילות יוקרה</div></a></li>
									<li><a href="/example/real-estate/single-property"><div>עזבונות פרימיום</div></a></li>
								</ul>
							</li>
							<li><a href="/example/real-estate/builders"><div>בונים</div></a></li>
							<li><a href="/example/real-estate/services"><div>שירות</div></a></li>
							<li><a href="/example/real-estate/listing"><div>מודעה</div></a></li>
							<li><a href="/example/real-estate/contact"><div>צור קשר</div></a></li>
						</ul>

					</nav><!-- #primary-menu end -->

				</div>

			</div>

		</header><!-- #header end -->